<div class="mb-4">
  <card>
    <ul class="flex flex-wrap gap-3 text-sm font-medium text-center p-5">
      <li routerLink="/admin/nfts" [queryParams]="{ tab: 'all' }">
        <button
          class="px-8 py-2 text-cb-base rounded-md"
          [ngClass]="{ 'bg-gradient-cb font-semibold': tab == 'all' }"
        >
          Todos
        </button>
      </li>

      <li routerLink="/admin/nfts" [queryParams]="{ tab: 'suspend' }">
        <button
          class="px-8 py-2 text-cb-base rounded-md"
          [ngClass]="{ 'bg-gradient-cb font-semibold': tab == 'suspend' }"
        >
          Bloqueados
        </button>
      </li>

      <li routerLink="/admin/nfts" [queryParams]="{ tab: 'active' }">
        <button
          class="px-8 py-2 text-cb-base rounded-md"
          [ngClass]="{ 'bg-gradient-cb font-semibold': tab == 'active' }"
        >
          Disponíveis
        </button>
      </li>

      <li>
        <button
          [routerLink]="['add']"
          class="px-8 py-2 text-cb-base rounded-md"
        >
          Adicionar NFT
        </button>
      </li>
    </ul>

    <div class="p-5 grid grid-cols-2 border-t border-cb-secondary">
      <input-search></input-search>
    </div>
  </card>
</div>

<card>
  <div class="grid grid-cols-5 gap-2 p-4">
    <app-nft-card
      *ngFor="let item of dataSource.data"
      [nft]="{ src: item.image_url }"
      (onClick)="openNFT(item)"
    ></app-nft-card>
  </div>
</card>
