<div class="mx-auto">
  <div class="flex justify-center py-4 max-w-[1024px]:w-28 max-w-[768px]:h-20">
    <img class="w-40 h-28" src="../../assets/casabella.svg" alt="" />
  </div>

  <div class="max-w-[768px]:gap-1 max-w-[1024px]:gap-2">
    <div class="w-full mb-4">
      <app-stepper [currentStep]="currentStep" [steps]="steps"></app-stepper>
    </div>

    <form
      *ngIf="currentStep === 0"
      class="mx-auto w-[500px] max-md:w-full"
      #form1="ngForm"
    >
      <!-- Passo 1: Formulário de login -->
      <div>
        <h1
          class="mb-4 text-base font-extrabold leading-none tracking-tight text-white lg:text-base text-center dark:text-white"
        >
          Bem vindo, antes de tudo...
        </h1>
        <p
          class="text-sm max-2xl:text-xs font-normal text-white text-center md:text-sm dark:text-gray-400 mb-4"
        >
          Você pode alterar tudo depois.
        </p>
      </div>

      <div class="grid gap-2 mb-3">
        <input-floating
          class="p-0 bg-transparent border-none"
          label="Nome Completo:"
          model="name"
          [(ngModel)]="dados.name"
          name="name"
          type="text"
          required
          [form]="form1"
        ></input-floating>
      </div>

      <div class="grid grid-cols-2 gap-2 mb-3">
        <input-floating
          class="p-0 bg-transparent border-none"
          label="CPF:"
          model="cpf"
          [(ngModel)]="dados.cpf"
          name="cpf"
          type="tel"
          required
          [form]="form1"
          mask="000.000.000-00"
        ></input-floating>

        <input-floating
          class="p-0 bg-transparent border-none"
          label="Data de nascimento:"
          model="birthdate"
          [(ngModel)]="dados.birthdate"
          name="birthdate"
          type="date"
          required
          [form]="form1"
        ></input-floating>
      </div>

      <div class="grid grid-cols-3 gap-2 mb-3">
        <input-floating
          class="col-span-2 p-0 bg-transparent border-none"
          label="E-mail:"
          model="email"
          [(ngModel)]="dados.email"
          name="email"
          type="email"
          required
          email
          [form]="form1"
        ></input-floating>

        <input-floating
          class="p-0 bg-transparent border-none"
          label="Telefone:"
          model="telefone"
          [(ngModel)]="dados.telefone"
          name="telefone"
          type="tel"
          required
          [form]="form1"
          mask="(00) 0000-0000||(00) 0 0000-0000"
        ></input-floating>
      </div>

      <!-- <div class="grid grid-cols-2 gap-2 mb-3">
        <input-floating
          class="col-span-2 p-0 bg-transparent border-none"
          label="Senha:"
          model="password"
          [(ngModel)]="dados.password"
          name="password"
          type="password"
          required
          [form]="form1"
        ></input-floating>

        <input-floating
          class="col-span-2 p-0 bg-transparent border-none"
          label="Confirme a Senha:"
          model="passwordConfirm"
          [(ngModel)]="dados.passwordConfirm"
          name="passwordConfirm"
          type="password"
          required
          [form]="form1"
        ></input-floating>
      </div> -->

      <div class="grid grid-cols-2 gap-2 mb-3">
        <combobox
          class="p-0 bg-transparent border-none"
          label="Estado:"
          model="state"
          [(ngModel)]="dados.address.state"
          name="state"
          type="select"
          [options]="optionsStates"
          bindValue="label"
          bindText="name"
          placeholder="Selecione um estado"
          [required]="true"
          [form]="form1"
          (selectItem)="getCities($event)"
        ></combobox>

        <combobox
          class="p-0 bg-transparent border-none"
          label="Cidade:"
          model="city"
          [(ngModel)]="dados.address.city"
          name="city"
          type="select"
          [options]="optionsCities"
          bindValue="name"
          bindText="name"
          placeholder="Selecione uma cidade"
          [required]="true"
          [form]="form1"
        ></combobox>
      </div>

      <div class="grid gap-2 mb-3">
        <combobox
          label="Setor:"
          model="department_id"
          [(ngModel)]="dados.department_id"
          name="department_id"
          [options]="optionsDepartments"
          bindValue="id"
          bindText="name"
          placeholder="Selecione o Setor"
          [required]="true"
          [form]="form1"
        ></combobox>

        <!-- <input-floating
          class="p-0 bg-transparent border-none"
          label="Setor:"
          model="department"
          [(ngModel)]="dados.department"
          name="department"
          type="select"
          [form]="form1"
        ></input-floating> -->

        <combobox
          label="Cargo:"
          model="role_id"
          [(ngModel)]="dados.role_id"
          name="role_id"
          [options]="optionsRoles"
          bindValue="id"
          bindText="name"
          placeholder="Selecione o Cargo"
          [required]="true"
          [form]="form1"
        ></combobox>

        <!-- <input-floating
          class="p-0 bg-transparent border-none"
          label="Cargo:"
          model="role"
          [(ngModel)]="dados.role"
          name="role"
          type="select"
          [form]="form1"
          [options]="optionsRoles"
          bindText="name"
          bindValue="id"
        ></input-floating> -->
      </div>

      <button-cb
        [disabled]="!form1.valid || loading"
        type="button"
        class="w-full"
        classes="font-medium rounded-lg text-md w-full h-14 md:w-full px-5 py-2.5 text-center text-white bg-gradient-cb bg-gradient-cb-hover"
        (onClick)="nextStep()"
        label="Continuar"
      >
      </button-cb>
    </form>

    <!-- Passo 2: Enviar arquivo -->
    <div *ngIf="currentStep === 1" class="mx-auto w-[500px]">
      <div>
        <h1
          class="mb-4 text-base font-extrabold leading-none tracking-tight text-white lg:text-base text-center dark:text-white"
        >
          {{ dados.name }}, nos envie seu RG ou CNH...
        </h1>
        <p
          class="text-sm max-2xl:text-xs font-normal text-white text-center md:text-sm dark:text-gray-400 mb-4"
        >
          Não se preocupe, é seguro e privado.
        </p>
      </div>

      <dropzone
        (changeFile)="onFileSelected($event)"
        [files]="files"
      ></dropzone>

      <h2 class="text-sm text-center text-cb-base py-4 px-10">
        Obrigatório o envio de documento de identificação, você pode nos enviar
        o RH ou CNH.
      </h2>

      <button-cb
        [disabled]="files.length <= 0"
        type="button"
        class="w-full"
        classes="font-medium rounded-lg text-md w-full h-14 md:w-full px-5 py-2.5 text-center text-white bg-gradient-cb bg-gradient-cb-hover"
        (onClick)="nextStep()"
        label="Continuar"
      >
      </button-cb>
    </div>

    <!-- Passo 3: Foto de Perfil -->
    <div *ngIf="currentStep === 2" class="mx-auto w-[500px]">
      <div>
        <h1
          class="py-4 text-base font-extrabold leading-none tracking-tight text-white lg:text-base text-center dark:text-white"
        >
          {{ dados.name }}, estamos quase acabando...
        </h1>
        <p
          class="text-sm max-2xl:text-xs font-normal text-white text-center md:text-sm dark:text-gray-400 py-2"
        >
          Você pode alterar tudo depois.
        </p>
      </div>

      <div class="flex items-center justify-center py-2">
        <avatar
          (changeImage)="changeAvatar($event)"
          [image]="dados.avatar"
        ></avatar>
      </div>

      <h2 class="text-sm text-center text-cb-base py-3">
        Selecione a sua foto!
      </h2>

      <button-cb
        [loading]="loading"
        type="button"
        classes="font-medium rounded-lg text-md w-full h-14 md:w-full px-5 py-2.5 text-center text-white bg-gradient-cb bg-gradient-cb-hover"
        (onClick)="finish()"
        class="w-full"
        label="Finalizar"
      >
      </button-cb>
    </div>

    <!-- Passo 4: Finish -->
    <div *ngIf="currentStep === 3" class="mx-auto w-[500px]">
      <div class="flex items-center justify-center">
        <label
          class="w-48 h-48 cursor-pointer border-0 bg-gradient-cb rounded-full border-dashed border-cb-info flex flex-col justify-center items-center"
        >
          <i class="fa-solid fa-check text-[5rem] text-cb-base"></i>
        </label>
      </div>

      <div>
        <h1
          class="my-4 text-base font-extrabold leading-none tracking-tight text-white lg:text-base text-center dark:text-white"
        >
          Parabéns, {{ dados.name }}!
        </h1>
        <p
          class="text-sm max-2xl:text-xs font-normal text-white text-center md:text-sm dark:text-gray-400 mb-4"
        >
          Você completou seu cadastro, logo te avisaremos quando puder acessar!
        </p>
      </div>

      <button
        type="button"
        class="font-medium rounded-lg text-md w-full h-14 md:w-full px-5 py-2.5 text-center text-white bg-pink-600 hover:bg-pink-700"
        routerLink="/auth"
      >
        Obrigado
      </button>
    </div>
  </div>

  <div class="flex justify-center my-4">
    <a
      class="underline text-cb-base"
      href="javascript:void(0)"
      (click)="previousStep()"
      >{{ currentStep == 0 ? "Cancelar" : "Voltar" }}</a
    >
  </div>
</div>
