<div class="grid grid-cols-3 gap-2">
  <button
    *ngIf="tools.checkRouteContainsAdmin()"
    routerLink="gallery/add"
    class="flex flex-col items-center justify-center border border-cb-secondary text-cb-secondary text-gradient-cb-hover rounded-md p-4 h-48"
  >
    <i class="fa-solid fa-photo-film text-6xl"></i>
    <h2 class="text-cb-base my-3">Adicionar Galeria</h2>
  </button>

  <div
    class="flex flex-col gap-2 p-2 border border-cb-secondary rounded-md h-48"
    *ngFor="let item of dataSource.data; let i = index"
  >
    <img
      [src]="item.image ?? tools.noImageAvatar"
      alt="image-card"
      class="w-full rounded-t-md h-[80%]"
    />
    <div *ngIf="tools.checkRouteContainsAdmin()">
      <button
        class="btn btn-sm bg-cb-primary text-white rounded-md w-full"
        [disabled]="loading"
        routerLink="/admin/incentives/gallery/edit"
        [state]="{ gallery_id: item.id }"
      >
        Editar
      </button>
    </div>
    <div
      *ngIf="!tools.checkRouteContainsAdmin()"
      class="flex items-center gap-3"
    >
      <button
        class="btn btn-sm bg-cb-primary text-white rounded-md w-full"
        [disabled]="loading"
        (click)="viewMode = true"
      >
        Conferir Detalhes
      </button>
      <btn-like class="min-w-max" [id]="'gl' + i"></btn-like>
    </div>
  </div>
</div>
