<div
  class="!border-cb-info !h-[210px] !bg-cb-primary"
  ngx-dropzone
  (change)="onFileSelected($event)"
  accept="image/*"
>
  <ngx-dropzone-label>
    <div>
      <i class="fa-solid fa-file-arrow-up text-[4rem] text-cb-info py-4"></i>
      <h2 class="font-semibold text-cb-base my-2">Selecionar Arquivo</h2>
      <p class="text-sm text-cb-secondary">Ou arraste e solte aqui.</p>
    </div>
  </ngx-dropzone-label>
  <ngx-dropzone-image-preview
    ngProjectAs="ngx-dropzone-preview"
    *ngFor="let f of files"
    [file]="f"
    [removable]="true"
    (removed)="onRemove(f)"
  >
    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
  </ngx-dropzone-image-preview>
</div>

<!-- <div class="w-full" ngx-dropzone [accept]="'image/*'">
  <label
    for="fileInput"
    class="cursor-pointer border-[2px] border-dashed border-cb-info h-[210px] flex flex-col justify-center items-center"
  >
    <div class="flex flex-col justify-center items-center">
      <i class="fa-solid fa-file-arrow-up text-[4rem] text-cb-info"></i>
      <h2 class="block text-base font-medium text-cb-base">
        Selecionar Arquivo
      </h2>
      <p class="text-cb-secondary">Ou arraste e solte aqui.</p>
    </div>
    <input
      type="file"
      id="fileInput"
      class="flowbite-input opacity-0 hidden"
      (change)="onFileSelected($event)"
      required
    />
  </label>
</div> -->
