<div
  class="flex items-center mb-2"
  [ngClass]="{ 'is-invalid': !tools.validateInputForm(form, controlName) }"
>
  <input
    [id]="controlName"
    [name]="controlName"
    [disabled]="disabled"
    [(ngModel)]="value"
    (ngModelChange)="checkedItem.emit(value)"
    [checked]="checked"
    [required]="required"
    type="checkbox"
    class="w-4 h-4 text-cb-info bg-gray-100 border-gray-300 rounded focus:ring-cb-info"
  />
  <label
    [attr.for]="controlName"
    class="ml-2 text-sm font-medium"
    *ngIf="label"
  >
    {{ label }}
  </label>
</div>
