<div class="mb-4">
  <card>
    <ul
      class="flex flex-wrap justify-between gap-3 text-sm font-medium text-center p-5"
    >
      <li routerLink="/admin/users">
        <button
          class="px-8 py-2 text-cb-base rounded-md bg-gradient-cb font-semibold"
        >
          Auditoria
        </button>
      </li>

      <li>
        <button
          class="px-8 py-2 text-cb-base rounded-md"
          [disabled]="loadingExport"
          (click)="export()"
        >
          <spinner *ngIf="loadingExport" />
          <span *ngIf="!loadingExport">Exportar</span>
        </button>
      </li>
    </ul>

    <div class="p-5 grid grid-cols-2 gap-2 border-t border-cb-secondary">
      <div class="flex items-center gap-2">
        <input
          type="date"
          class="input-cb"
          [(ngModel)]="filters.startDate"
          (ngModelChange)="getList()"
        />

        <input
          type="date"
          class="input-cb"
          [(ngModel)]="filters.endDate"
          (ngModelChange)="getList()"
        />
      </div>

      <input-search
        [(ngModel)]="filters.search"
        (search)="getList()"
      ></input-search>
    </div>
  </card>
</div>

<card [loading]="loading">
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left table-cb table-cb-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Data</th>
          <th>Tipo</th>
          <th>Usuário</th>
          <th>Origem</th>
          <th>Destino</th>
          <th>Autoriazado por</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of dataSource.data; let i = index"
          [ngClass]="{
            'bg-transparent': i % 2 !== 0,
            'bg-cb-tertiary': i % 2 === 0
          }"
          (dblclick)="openProof(item)"
        >
          <td>
            {{ item.id }}
          </td>
          <td>{{ item.created_at | date : "dd/MM/yyyy HH:mm" }}</td>
          <td>{{ getType(item) }}</td>
          <td>{{ item?.user_action?.name }}</td>
          <td>
            <span *ngIf="item?.cashier_from">
              Caixa: {{ item.cashier_from.name }}
            </span>
            <span *ngIf="item?.user_from">
              Usuário: {{ item.user_from.name }}
            </span>
          </td>
          <td>
            <span *ngIf="item?.cashier_to">
              Caixa: {{ item.cashier_to.name }}
            </span>
            <span *ngIf="item?.user_to">
              Usuário: {{ item.user_to.name }}
            </span>
          </td>
          <td>
            {{ item?.authorized?.name ?? item?.authorized_by?.name }}
          </td>
        </tr>
      </tbody>
    </table>

    <div class="relative overflow-x-auto">
      <div
        class="text-center py-2 text-gray-400"
        *ngIf="dataSource.data.length <= 0"
      >
        Nenhuma solicitação encontrada.
      </div>
    </div>
  </div>
  <div class="card-footer flex gap-3 items-center">
    <app-pagination
      class="w-full"
      [fromRows]="dataSource.from"
      [toRows]="dataSource.to"
      [total]="dataSource.total"
      [current]="dataSource.current_page"
      [links]="dataSource.links"
      (goTo)="changePagination($event, filters.per_page)"
      (next)="changePagination($event, filters.per_page)"
      (previous)="changePagination($event, filters.per_page)"
      (onPerPage)="changePagination(filters.page, $event)"
    ></app-pagination>
  </div>
</card>
