<modal title="Problemas para entrar ?" [dialogRef]="dialogRef">
  <div class="p-4 text-center">
    <p class="mb-4">
      Insira seu e-mail e enviaremos um link para você voltar a acessar a sua
      conta novamente.
    </p>

    <form #form="ngForm" (ngSubmit)="submit(form)">
      <div class="mb-4">
        <input-floating
          class="p-0 bg-transparent border-none"
          label="E-mail"
          name="email"
          model="email"
          ngModel
          type="email"
          required
          [form]="form"
        />
      </div>

      <button
        type="submit"
        class="text-white font-semibold bg-gradient-cb bg-gradient-cb-hover focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-md w-full h-14 md:w-full px-5 py-2.5 text-center"
        [disabled]="loading"
      >
        Enviar link para redefinir
      </button>
    </form>
  </div>
</modal>
