<modal title="Alterar Senha de Acesso" [dialogRef]="dialogRef">
  <div class="p-4 text-center">
    <form #form="ngForm" (ngSubmit)="submit(form)">
      <div class="mb-4">
        <input-floating
          class="p-0 bg-transparent border-none"
          label="Senha Atual"
          name="current_password"
          model="current_password"
          ngModel
          type="password"
          required
          [form]="form"
        />
      </div>

      <div class="mb-4">
        <input-floating
          class="p-0 bg-transparent border-none"
          label="Nova Senha"
          name="new_password"
          model="new_password"
          ngModel
          type="password"
          required
          [form]="form"
        />
      </div>

      <div class="mb-4">
        <input-floating
          class="p-0 bg-transparent border-none"
          label="Confirmar Nova Senha"
          name="confirmPassword"
          model="confirmPassword"
          ngModel
          type="password"
          required
          [form]="form"
        />
      </div>

      <button
        type="submit"
        class="text-white font-semibold bg-gradient-cb bg-gradient-cb-hover focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-md w-full h-14 md:w-full px-5 py-2.5 text-center"
        [disabled]="loading"
      >
        <spinner *ngIf="loading"></spinner>
        <span *ngIf="!loading">Alterar</span>
      </button>
    </form>
  </div>
</modal>
