<card [loading]="loading">
  <div
    class="grid md:grid-cols-2 gap-2 items-center justify-between border-b border-cb-secondary p-4"
  >
    <h2 class="font-semibold text-cb-info text-lg">
      {{ dados?.name }}
    </h2>
    <div class="flex items-center gap-3">
      <button-cb
        class="w-full"
        classes="btn btn-sm bg-cb-primary text-cb-base rounded-md w-full min-w-max"
        label="Regulamento"
        (onClick)="openTerm()"
      />
      <button-cb
        class="w-full"
        classes="btn btn-sm bg-cb-primary text-cb-base rounded-md w-full min-w-max"
        label="Ranking"
        (click)="openRanking()"
      />
    </div>
  </div>

  <div class="p-4 flex justify-center">
    <img [src]="dados?.image_url" class="rounded-md" alt="" />
  </div>

  <div class="p-4" *ngIf="dados?.nfts?.length > 0">
    <h2 class="font-semibold text-cb-info text-lg">NFTs da campanha</h2>

    <div class="flex items-center gap-3">
      <app-nft-card
        *ngFor="let item of dados?.nfts"
        [size]="24"
        [nft]="{ src: item.image_url }"
        (click)="openModalNFT(item)"
      />
    </div>
  </div>

  <div class="p-4">
    <div class="mb-3">
      <h2 class="font-semibold text-cb-info text-lg">Descrição do Incentivo</h2>
      <p class="text-sm">
        {{ dados?.description }}
      </p>
    </div>

    <div class="mb-3">
      <h2 class="font-semibold text-cb-info text-lg">Sobre o Incentivo</h2>
      <div
        class="text-sm"
        *ngIf="dados.information"
        [innerHTML]="dados?.information"
        id="dsInformation"
      ></div>
    </div>

    <div class="mb-3" *ngIf="dados?.link_youtube">
      <iframe
        class="w-full h-full md:h-[400px]"
        [src]="'https://www.youtube.com/embed/' + dados.link_youtube"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>

    <div class="mb-3">
      <h2 class="font-semibold text-cb-info text-lg">Premiação</h2>
      <p class="text-sm">
        {{ dados?.award }}
      </p>
    </div>

    <div class="mb-3">
      <h2 class="font-semibold text-cb-info text-lg">Contém Florais (F$)</h2>
      <p class="text-sm">
        {{ dados?.has_floral ? "Sim" : "Não" }}
      </p>
    </div>

    <div class="mb-3">
      <h2 class="font-semibold text-cb-info text-lg">
        Quantidade de Florais (F$)
      </h2>
      <p class="text-sm">
        Quem ganhar leva
        {{ dados?.quantity_floral | currency : "BRL" : "F$" : "1.4-4" }}
      </p>
    </div>

    <div class="mb-3">
      <h2 class="font-semibold text-cb-info text-lg">Período do incentivo</h2>
      <p class="text-sm">Início: {{ dados?.start | date : "dd/MM/yyyy" }}</p>
      <p class="text-sm" *ngIf="dados?.view_end">
        Término: {{ dados?.end | date : "dd/MM/yyyy" }}
      </p>
    </div>

    <div class="mb-3">
      <h2 class="font-semibold text-cb-info text-lg">Cíclo do incentivo</h2>
      <p class="text-sm">- {{ dados?.cycle?.description }}</p>
    </div>

    <div class="mb-3">
      <h2 class="font-semibold text-cb-info text-lg">
        Público que participa do incentivo:
      </h2>
      <p *ngFor="let item of dados?.public" class="text-sm">
        - {{ item.name }}
      </p>
    </div>

    <div class="mb-3">
      <h2 class="font-semibold text-cb-info text-lg">
        Segmentos participante:
      </h2>
      <p *ngFor="let item of dados?.segments_participate" class="text-sm">
        - {{ item.name }}
      </p>
    </div>

    <div class="mb-3">
      <h2 class="font-semibold text-cb-info text-lg">Cidades participante:</h2>
      <p *ngFor="let item of dados?.cities" class="text-sm">
        - {{ item.name }}
      </p>
    </div>
  </div>

  <div class="p-4 flex items-center justify-between">
    <div class="flex items-center gap-3">
      <div class="flex items-center">
        <img src="assets/icons/like.svg" class="z-30" width="15" height="15" />
        <img
          src="assets/icons/adorei.svg"
          class="-m-1 z-20"
          width="15"
          height="15"
        />
        <img src="assets/icons/feliz.svg" class="-m-1" width="15" height="15" />
        <!-- <img src="assets/icons/apaixonado.svg" alt="" width="15" height="15" /> -->
        <!-- <img src="assets/icons/nice-guy.svg" alt="" width="15" height="15" /> -->
      </div>
      <span class="text-sm"> {{ tools.getPersonsInteractions(dados) }}</span>
    </div>
    <button (click)="openComments()" class="text-sm">
      {{ dados?.comments?.length }} comentários
    </button>
  </div>
  <div class="mx-4 border-b border-t border-cb-secondary"></div>
  <div class="p-4 flex items-center justify-between gap-4">
    <btn-like
      (changeOption)="sendReact($event)"
      class="min-w-max"
      [id]="'post' + dados.id"
      [interaction]="tools.getMyInteraction(dados, userCurrent)"
    ></btn-like>
    <form
      class="w-full relative"
      #formComment="ngForm"
      (ngSubmit)="sendComment(formComment)"
      *ngIf="dados?.allow_comment"
    >
      <input
        type="text"
        class="input-cb-rounded !pr-20"
        name="text"
        ngModel
        placeholder="Deixe o seu comentário"
        required
        [disabled]="loading"
      />
      <button
        class="absolute inset-y-0 right-3 flex items-center pr-3 text-gradient-cb"
        [disabled]="loading"
      >
        <i class="fa-solid fa-paper-plane mr-2"></i>
      </button>
    </form>
  </div>
</card>
