<div
  class="flex relative bg-cb-primary rounded-lg overflow-hidden shadow border border-cb-secondary h-full"
>
  <img [src]="dados.image" alt="nft" class="w-3/5" />
  <div class="relative text-white p-4 w-full h-full overflow-y-auto">
    <h2 class="text-xl font-bold my-2">{{ dados.name }}</h2>
    <button
      class="absolute right-3 top-3 text-cb-secondary hover:text-cb-base cursor-pointer"
      (click)="dialogRef.close()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>

    <div class="flex justify-between items-center my-1">
      <h2 class="flex gap-2 items-center">
        <i class="fa-solid fa-user text-cb-secondary"></i>
        <span class="text-cb-info text-sm">
          @{{ dados?.user?.name ?? "casabella" }}
        </span>
      </h2>

      <button
        type="button"
        class="text-xs text-gradient-cb !font-normal hover:text-cb-info focus:z-10"
      >
        <i class="fa-solid fa-paper-plane mr-2"></i>
        <span class="text-cb-base hover:text-cb-info">Enviar mensagem</span>
      </button>
    </div>

    <div class="flex items-end gap-4">
      <btn-like></btn-like>
      <span class="text-sm pb-1">Curtido por 94 pessoas</span>
    </div>

    <div class="w-full border-b border-cb-secondary my-3"></div>

    <div class="text-sm">
      <p>Criador por: <strong>casabella</strong></p>
      <p></p>
    </div>

    <div class="w-full border-b border-cb-secondary my-3"></div>

    <div class="text-sm">
      <p *ngFor="let item of dados.classifications">
        <strong>{{ item.name }}:</strong> {{ getSubClassifications(item) }}
      </p>
      <p><strong>Tipo:</strong> {{ getTypes() }}</p>
    </div>

    <div class="w-full border-b border-cb-secondary my-3"></div>

    <div>
      <p class="text-orange-400 italic text-sm">
        Vinculado à campanha de incentivo de Páscoa
      </p>
    </div>

    <div class="w-full border-b border-cb-secondary my-3"></div>

    <div class="flex flex-col items-center justify-center gap-3">
      <button
        type="button"
        class="text-white bg-gradient-cb bg-gradient-cb-hover focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md w-full md:w-full px-5 py-2.5 text-center"
      >
        Transferir
      </button>

      <button
        type="button"
        class="text-white bg-cb-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full md:w-full px-5 py-1.5 text-center"
      >
        Editar
      </button>
    </div>
  </div>
</div>
