<div class="grid md:grid-cols-8 gap-3">
  <div class="md:col-span-6">
    <div class="mb-4">
      <card [loading]="loading">
        <div class="card-header">
          <h2 class="text-lg font-semibold">
            {{ dados?.id ? "Editar post" : "Adicionar novo post" }}
          </h2>
        </div>

        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="p-4">
            <div class="mb-4">
              <image-select
                name="fileCapa"
                title="Selecione uma foto ou video."
                subtitle="922 x 560"
                (changeImage)="chooseImage($event)"
                [image]="dados?.attachment_url"
              ></image-select>
            </div>

            <div class="mb-4">
              <textarea
                class="input-cb"
                rows="5"
                name="description"
                [(ngModel)]="dados.description"
                placeholder="Descreva seu post"
              ></textarea>
            </div>

            <div class="grid grid-cols-2 gap-3">
              <div class="mb-4">
                <checkbox
                  label="Vincular Incentivo"
                  controlName="syncIncntive"
                  name="syncIncntive"
                  [(ngModel)]="dados.syncIncntive"
                ></checkbox>
                <select-default
                  inputPlaceholder="Vincular Incentivo"
                  bindText="name"
                  bindValue="id"
                  endpoint="v1/incentives?per_page=500"
                  name="incentive_id"
                  [(ngModel)]="dados.incentive_id"
                  [form]="form"
                />
              </div>

              <div class="mb-4">
                <checkbox
                  label="Vincular Galeria"
                  controlName="syncGallery"
                  name="syncGallery"
                  [(ngModel)]="dados.syncGallery"
                ></checkbox>
                <select-default
                  inputPlaceholder="Vincular Galeria"
                  bindText="name"
                  bindValue="id"
                  endpoint="v1/incentives-gallery?per_page=500"
                  name="incentive_gallery_id"
                  [(ngModel)]="dados.incentive_gallery_id"
                  [form]="form"
                />
              </div>
            </div>
          </div>

          <div class="card-footer flex items-center gap-3">
            <button-cb
              type="submit"
              classes="btn-sm btn-md w-full rounded-md bg-gradient-cb font-semibold"
              [label]="dados?.id ? 'Atualizar' : 'Postar'"
              [loading]="loading"
            ></button-cb>

            <button-cb
              classes="btn-sm btn-md w-full text-white rounded-md"
              routerLink="/feed"
              [queryParams]="{ tab: 'all' }"
              label="Cancelar"
              [loading]="loading"
            ></button-cb>
          </div>
        </form>
      </card>
    </div>
  </div>
  <div class="md:col-span-2" *ngIf="!loading">
    <div class="mb-2">
      <card-choose
        inputPlaceholder="Público"
        endpoint="v1/persons-type?per_page=500"
        bindText="name"
        bindValue="id"
        (choose)="dados.public = $event"
        [selected]="dados.public"
      />
    </div>

    <div class="mb-2">
      <card-choose
        inputPlaceholder="Segmentos"
        endpoint="v1/segments?per_page=500"
        bindText="name"
        bindValue="id"
        (choose)="dados.segments = $event"
        [selected]="dados.segments"
      />
    </div>

    <div class="mb-2">
      <card [loading]="loading">
        <div class="card-header">
          <h2 class="font-semibold text-cb-secondary">Permitir Comentários</h2>
        </div>

        <div class="px-4 pb-4">
          <radio-button
            controlName="allow_comments"
            name="allow_comments"
            [(ngModel)]="dados.allow_comments"
          />
        </div>
      </card>
    </div>
  </div>
</div>
