<card>
  <div class="card-header">
    <h2 class="text-lg font-semibold">Permissões de Grupos de Acessos</h2>
  </div>

  <div class="p-4 border-b border-cb-secondary">
    <select-default
      class="p-0 bg-transparent border-none"
      label="Selecionar grupo"
      model="group_id"
      [(ngModel)]="dados.group_id"
      name="group_id"
      bindValue="id"
      bindText="name"
      inputPlaceholder="Selecione o grupo de acesso"
      endpoint="v1/groups"
      size="lg"
      (selectItem)="getGroup($event)"
    ></select-default>
  </div>

  <div class="p-4 relative" *ngIf="group.id">
    <div
      class="absolute z-[1010] bg-cb-contrast h-full overflow-hidden p-10 rounded-lg text-center w-full"
      *ngIf="loading"
    >
      <spinner [size]="8" color="cb"></spinner>
    </div>

    <div class="mb-4" *ngFor="let permission of permissionsBase">
      <label>{{ permission.name }}</label>
      <div class="bg-cb-primary p-4 rounded-md border border-cb-secondary">
        <div class="mb-4" *ngFor="let item of permission.items">
          <checkbox
            [label]="item.label"
            [controlName]="item.name"
            (checkedItem)="checkedItem($event, item)"
            [checked]="checkMarkItem(item) < 0 ? false : true"
          />
          <p class="text-xs">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <button-cb
      (onClick)="save()"
      classes="btn-sm btn-md rounded-md bg-gradient-cb font-semibold"
      label="Salvar"
      [loading]="loading"
      [disabled]="!group.id"
    ></button-cb>
  </div>
</card>
