<div class="mb-4">
  <card>
    <div class="flex items-center gap-2 p-4">
      <combobox
        class="p-0 bg-transparent border-none w-1/3"
        label="Origem"
        model="origin"
        [(ngModel)]="filters.origin"
        name="origin"
        [options]="origem"
        bindValue="key"
        bindText="description"
        placeholder="Selecione a origem"
        size="md"
        (selectItem)="changeOrigin()"
      />

      <select-default
        class="p-0 bg-transparent border-none w-full"
        endpoint="v1/users?status=active"
        inputPlaceholder="Informar usuário"
        bindText="name"
        bindValue="user_id"
        [(ngModel)]="filters.user_id"
        name="user_id"
        [required]="true"
        (selectItem)="getList()"
        *ngIf="filters.origin == 'users'"
      />
      <select-default
        class="p-0 bg-transparent border-none w-full"
        endpoint="v1/admin/cashiers?status=active"
        inputPlaceholder="Informar caixa"
        bindText="name"
        bindValue="id"
        [(ngModel)]="filters.cashier_id"
        name="id"
        [required]="true"
        (selectItem)="getList()"
        *ngIf="filters.origin == 'cashier'"
      />
    </div>

    <div class="border border-cb-secondary">
      <!-- component -->

      <div class="flex items-center gap-3 p-4">
        <div class="flex items-center gap-2">
          <input
            type="date"
            class="input-cb"
            [(ngModel)]="filters.startDate"
            (ngModelChange)="getList()"
          />

          <input
            type="date"
            class="input-cb"
            [(ngModel)]="filters.endDate"
            (ngModelChange)="getList()"
          />
        </div>

        <ul class="flex flex-wrap gap-3 text-sm font-medium text-center">
          <li>
            <button
              class="px-4 py-2 text-cb-base rounded-md border border-cb-secondary"
              [ngClass]="{
                'bg-gradient-cb font-semibold': filters.movement == 'input'
              }"
              (click)="changeMovement('input')"
            >
              Entrada
            </button>
          </li>

          <li>
            <button
              class="px-4 py-2 text-cb-base rounded-md border border-cb-secondary"
              [ngClass]="{
                'bg-gradient-cb font-semibold': filters.movement == 'output'
              }"
              (click)="changeMovement('output')"
            >
              Saída
            </button>
          </li>
        </ul>
      </div>

      <div class="p-4">
        <app-timeline>
          <li class="mb-10 ms-6" *ngFor="let item of dataSource.data">
            <div class="absolute flex items-center justify-center -start-3">
              <span class="w-6 h-6 bg-cb-info rounded-full"></span>
            </div>
            <h3 class="text-sm font-semibold">
              {{ item?.transaction_date | date : "EE d, MMM y" }}
            </h3>

            <div
              *ngFor="let row of item.list"
              [ngClass]="{
                'bg-gradient-item-positive':
                  tools.getMovementType(
                    row,
                    filters.user_id ?? filters.cashier_id
                  ) == 'input',
                'bg-gradient-item-negative':
                  tools.getMovementType(
                    row,
                    filters.user_id ?? filters.cashier_id
                  ) == 'output'
              }"
              class="bg-gradient-item-positive flex items-center justify-between gap-2 p-2 my-1 rounded-md"
            >
              <span [innerHTML]="tools.getDescriptionTransaction(row)"></span>
              <div class="flex items-center gap-2">
                <i
                  class="fa-solid fa-plus"
                  [ngClass]="{
                    'text-cb-success':
                      tools.getMovementType(
                        row,
                        filters.user_id ?? filters.cashier_id
                      ) == 'input',
                    'text-cb-red':
                      tools.getMovementType(
                        row,
                        filters.user_id ?? filters.cashier_id
                      ) == 'output'
                  }"
                ></i>
                <span>
                  {{ row?.value | currency : "BRL" : "F$" : "1.4-4" }}
                </span>
              </div>
            </div>

            <!-- <div
              class="bg-gradient-item-negative flex items-center justify-between gap-2 p-2 my-1 rounded-md"
            >
              <span> Transferência de Caixa para Usuário 1 </span>
              <div class="flex items-center gap-2">
                <i class="fa-solid fa-minus text-cb-red"></i>
                <span>F$ 500,0000</span>
              </div>
            </div> -->
          </li>
        </app-timeline>
      </div>

      <!-- end component -->
    </div>
  </card>
</div>
