<div class="mb-4">
  <card>
    <div class="p-4">
      <select-default
        endpoint="v1/users?status=active"
        inputPlaceholder="Informar usuário"
        bindText="name"
        bindValue="id"
        [(ngModel)]="filters.user_id"
        name="user_id"
        [required]="true"
      ></select-default>
    </div>

    <div class="border border-cb-secondary">
      <!-- component -->

      <div class="p-4">
        <app-timeline></app-timeline>
      </div>

      <!-- end component -->
    </div>
  </card>
</div>
