<nav
  class="bg-cb-primary fixed w-full z-[1011] top-0 left-0 border-b border-cb-secondary md:hidden"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <button
      (click)="drawerMenu.toggle()"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-cb-base rounded-lg md:hidden hover:bg-cb-info hover:text-cb-primary focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>

    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/logo-floral-x-menu-logado.svg" class="h-10 mr-3" alt="Logo-CasaBella" />
    </a>

    <button
      (click)="drawerProfile.toggle()"
      type="button"
      class="inline-flex items-center p-2 justify-center text-sm text-cb-base rounded-lg md:hidden hover:bg-cb-info hover:text-cb-primary focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <img
        [src]="userCurrent?.avatar_url ?? tools.noImageAvatar"
        class="h-[40px] w-[40px] rounded-md"
        alt="Avatar"
      />
    </button>
  </div>
</nav>

<nav
  class="bg-cb-primary fixed w-full z-[1011] top-0 left-0 border-b border-cb-secondary hidden md:block"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto h-[70px]"
  >
    <div class="flex items-center">
      <a href="#" class="flex items-center mx-2">
        <img src="assets/logo-floral-x-menu-logado.svg" class="h-8 mr-3" alt="Logo-CasaBella" />
      </a>

      <span class="font-semibold text-xs text-orange-400 w-[150px]">
        {{ FraseExibidaMenu }}
      </span>

      <a [href]="LinkRedirecionamentoGif" target="_blank">
        <img
          [src]="imagemAnimadaMenu"
          class="h-14 w-12"
          alt=""
          *ngIf="imagemAnimadaMenu"
        />
      </a>
    </div>

    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto h-full"
      id="navbar-sticky"
    >
      <ng-container *ngFor="let item of Menu">
        <ng-container
          *ngTemplateOutlet="menuH; context: { item }"
        ></ng-container>
      </ng-container>
    </div>

    <!-- profile  -->
    <div class="flex items-center gap-2">
      <div class="relative">
        <input
          type="text"
          class="block w-[190px] p-2 pr-10 rounded-lg text-sm text-cb-base bg-[#344A6A] placeholder:text-cb-base focus:border-[#21ACBE] focus:text-[#21ACBE] focus:placeholder:text-[#21ACBE]"
          placeholder="O que você procura?"
        />
        <div
          class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-cb-base"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
      </div>

      <button
        id="dropdownProfile"
        data-dropdown-toggle="dropdown"
        type="button"
        data-dropdown-offset-distance="-50"
        data-dropdown-offset-skidding="80"
        data-dropdown-placement="left"
        class="rounded-md overflow-hidden"
      >
        <img
          [src]="userCurrent?.avatar_url ?? tools.noImageAvatar"
          class="h-[40px] w-[40px]"
          alt="Avatar"
        />
      </button>
      <!-- Dropdown menu -->
      <div
        id="dropdown"
        class="z-10 hidden bg-cb-primary border-[#344A6A] border rounded-lg shadow w-48"
      >
        <div
          class="flex items-center justify-between p-2 border-b border-b-cb-secondary"
        >
          <span class="text-gradient-cb">{{ userCurrent?.name }}</span>
          <img
            [src]="userCurrent?.avatar_url ?? tools.noImageAvatar"
            class="rounded-md h-[40px] w-[40px]"
            alt="Avatar"
          />
        </div>
        <ul class="py-2 text-sm font-semibold border-0">
          <li>
            <a
              href="javascript:void(0)"
              routerLink="/profile"
              class="block px-2 py-2 text-cb-base bg-gradient-cb-hover"
            >
              <i class="fa-solid fa-user mr-2"></i> Perfil
            </a>
          </li>
          <li>
            <a
              href="javascript:void(0)"
              class="block px-2 py-2 text-cb-base bg-gradient-cb-hover"
              (click)="openChangePassword()"
            >
              <i class="fa-solid fa-lock mr-2"></i> Alterar Senha
            </a>
          </li>
          <li>
            <a
              href="javascript:void(0)"
              class="block px-2 py-2 text-cb-base bg-gradient-cb-hover"
            >
              <i class="fa-solid fa-file-lines mr-2"></i> Termos e Condições
            </a>
          </li>
          <li>
            <a
              href="javascript:void(0)"
              class="block px-2 py-2 text-cb-base bg-gradient-cb-hover"
              (click)="tools.logout()"
            >
              <i class="fa-solid fa-right-from-bracket mr-2"></i> Sair
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- nivel 1 menu -->
<ng-template #menuH let-item="item">
  <div class="h-full" *ngIf="item.items">
    <button
      [attr.data-dropdown-toggle]="'dropdown-' + item.id"
      type="button"
      data-dropdown-placement="bottom"
      data-dropdown-offset-distance="-10"
      class="px-2 text-cb-base rounded-b-lg h-full hover:text-cb-info hover:font-semibold focus:text-cb-info focus:font-semibold border-b-[5px] border-transparent bg-gradient-cb-border-hover"
      routerLinkActive="activeMenu"
      [routerLinkActiveOptions]="{
        exact: false,
        fragment: 'ignored'
      }"
      *ngIf="tools.getRule(item.permissions, rules)"
    >
      <i [class]="item.icon + ' mr-3'" *ngIf="item.icon"></i>
      <span class="">{{ item.title }}</span>
    </button>
    <!-- Dropdown menu -->
    <div
      [id]="'dropdown-' + item.id"
      class="z-10 hidden bg-cb-primary border-[#21ACBE] min-w-[250px] border rounded shadow w-48 arrow-up"
    >
      <div
        class="flex items-center justify-between p-3 border-b border-b-cb-secondary"
        *ngIf="item.subtitle"
      >
        <span class="text-sm text-[#21ACBE] font-bold uppercase">
          {{ item.subtitle }}
        </span>
      </div>
      <ul class="text-sm border-0 overflow-y-auto max-h-screen">
        <li
          class="border-b border-b-cb-secondary"
          *ngFor="let subItem of item.items"
        >
          <a
            href="javascript:void(0)"
            class="flex justify-start items-center px-4 py-2 text-cb-base bg-gradient-cb-hover h-11"
            [routerLink]="[item.route + subItem.route]"
            [queryParams]="subItem?.queryParams"
            routerLinkActive="activeItem"
            *ngIf="!subItem.items && tools.getRule(subItem.permissions, rules)"
          >
            <i [class]="subItem.icon + ' mr-3'" *ngIf="subItem.icon"></i>
            <span class="">{{ subItem.title }}</span>
          </a>
          <ng-container *ngIf="subItem.items">
            <ng-container
              *ngTemplateOutlet="menuV; context: { item: subItem }"
            ></ng-container>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>
  <div class="h-full" *ngIf="!item.items">
    <button
      class="px-2 text-cb-base rounded-b-lg h-full hover:text-cb-info hover:font-semibold focus:text-cb-info focus:font-semibold border-b-[5px] border-transparent bg-gradient-cb-border-hover"
      [routerLink]="[item.route]"
      routerLinkActive="activeMenu"
      [queryParams]="item?.queryParams"
      *ngIf="tools.getRule(item.permissions, rules)"
    >
      <i [class]="item.icon + ' mr-3'" *ngIf="item.icon"></i>
      <span class="">{{ item.title }}</span>
    </button>
  </div>
</ng-template>

<!-- nivel 2 menu -->
<ng-template #menuV let-item="item">
  <div>
    <button
      [attr.data-dropdown-toggle]="'dropdown2-' + item.id"
      data-dropdown-placement="right-start"
      data-dropdown-offset-distance="0"
      type="button"
      class="flex items-center justify-between px-4 py-2 text-cb-base bg-gradient-cb-hover w-full"
      *ngIf="tools.getRule(item.permissions, rules)"
    >
      <span>
        <i [class]="item.icon + ' mr-3'" *ngIf="item.icon"></i>
        <span class="">{{ item.title }}</span>
      </span>

      <svg
        class="w-2.5 h-2.5 ml-2.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"
        />
      </svg>
    </button>
    <div
      [id]="'dropdown2-' + item.id"
      class="z-10 hidden bg-cb-primary border-[#21ACBE] min-w-[250px] border rounded shadow w-48"
    >
      <ul
        class="text-sm text-gray-700 dark:text-gray-200 overflow-y-auto max-h-screen"
      >
        <ng-container *ngFor="let subItem of item.items">
          <li
            class="border-b border-b-cb-secondary"
            *ngIf="tools.getRule(subItem.permissions, rules)"
          >
            <ng-container *ngIf="!subItem.items">
              <a
                href="javascript:void(0)"
                class="w-full flex justify-start items-center px-4 py-2 text-cb-base bg-gradient-cb-hover"
                *ngIf="subItem.route"
                [routerLink]="[item.route + subItem.route]"
                routerLinkActive="activeItem"
                [routerLinkActiveOptions]="{
                  exact: true,
                  fragment: 'ignored'
                }"
                [queryParams]="subItem?.queryParams"
              >
                <i [class]="subItem.icon + ' mr-3'" *ngIf="subItem.icon"></i>
                <span class="">{{ subItem.title }}</span>
              </a>
              <span
                class="flex justify-start items-center px-4 py-2 text-gradient-cb"
                *ngIf="!subItem.route"
              >
                <i [class]="subItem.icon + ' mr-3'" *ngIf="subItem.icon"></i>
                <span class="">{{ subItem.title }}</span>
              </span>
            </ng-container>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</ng-template>

<!-- drawer component -->
<div
  id="drawer-menu"
  class="fixed top-0 left-0 z-[1012] h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-cb-primary w-96 max-w-[80%]"
  tabindex="-1"
  aria-labelledby="drawer-label"
>
  <h5
    id="drawer-label"
    class="inline-flex items-center mb-4 text-base font-semibold text-cb-base"
  >
    Menu
  </h5>
  <button
    type="button"
    (click)="drawerMenu.toggle()"
    aria-controls="drawer-menu"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white"
  >
    <svg
      class="w-3 h-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
      />
    </svg>
    <span class="sr-only">Close menu</span>
  </button>

  <div class="py-4 overflow-y-auto">
    <ul class="space-y-3 mb-3 font-medium">
      <li *ngFor="let item of MenuMobile">
        <button
          type="button"
          (click)="drawerMenu.toggle()"
          aria-controls="drawer-menu"
          (click)="closeDrawer()"
          [routerLink]="item.route"
          routerLinkActive="text-cb-primary bg-cb-info"
          class="flex items-center p-2 text-cb-base hover:text-cb-primary hover:bg-cb-info rounded-lg group w-full"
        >
          <i class="{{ item.icon }} flex text-lg"></i>
          <span class="ms-3 text-lg">{{ item.title }}</span>
        </button>
      </li>
      <li>
        <button
          type="button"
          (click)="drawerMenu.toggle()"
          aria-controls="drawer-menu"
          (click)="closeDrawer()"
          routerLink="/feed/novo-post"
          class="flex items-center p-2 text-cb-base bg-cb-secondary rounded-lg group w-full"
        >
          <i class="fa-solid fa-pen-to-square flex text-lg"></i>
          <span class="ms-3 text-lg">Adicionar Post</span>
        </button>
      </li>
    </ul>

    <div class="flex flex-col gap-4">
      <app-floral-price></app-floral-price>

      <app-my-floral></app-my-floral>
    </div>
  </div>
</div>

<div
  id="drawer-profile"
  class="fixed top-0 left-0 z-[1012] h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-cb-primary w-96 max-w-[80%]"
  tabindex="-1"
  aria-labelledby="drawer-label"
>
  <h5
    id="drawer-label"
    class="inline-flex items-center mb-4 text-base font-semibold text-cb-base"
  >
    Perfil
  </h5>
  <button
    type="button"
    (click)="drawerProfile.toggle()"
    aria-controls="drawer-profile"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white"
  >
    <svg
      class="w-3 h-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
      />
    </svg>
    <span class="sr-only">Close menu</span>
  </button>

  <div class="py-4 overflow-y-auto">
    <div
      class="flex items-center justify-between p-2 border-b border-b-cb-secondary"
    >
      <span class="text-gradient-cb">{{ userCurrent?.name }}</span>
      <img
        [src]="userCurrent?.avatar_url ?? tools.noImageAvatar"
        class="rounded-md h-[40px] w-[40px]"
        alt="Avatar"
      />
    </div>
    <ul class="py-2 text-sm font-semibold border-0">
      <li>
        <a
          href="javascript:void(0)"
          routerLink="/profile"
          class="block px-2 py-2 text-cb-base bg-gradient-cb-hover"
        >
          <i class="fa-solid fa-user mr-2"></i> Perfil
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0)"
          class="block px-2 py-2 text-cb-base bg-gradient-cb-hover"
          (click)="openChangePassword()"
        >
          <i class="fa-solid fa-lock mr-2"></i> Alterar Senha
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0)"
          class="block px-2 py-2 text-cb-base bg-gradient-cb-hover"
        >
          <i class="fa-solid fa-file-lines mr-2"></i> Termos e Condições
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0)"
          class="block px-2 py-2 text-cb-base bg-gradient-cb-hover"
          (click)="tools.logout()"
        >
          <i class="fa-solid fa-right-from-bracket mr-2"></i> Sair
        </a>
      </li>
    </ul>
  </div>
</div>
