<nav
  class="bg-cb-primary fixed w-full z-20 top-0 left-0 border-b border-cb-secondary"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto h-[70px]"
  >
    <div class="flex items-center">
      <a href="https://flowbite.com/" class="flex items-center mx-2">
        <!-- <img
          src="https://flowbite.com/docs/images/logo.svg"
          class="h-8 mr-3"
          alt="Flowbite Logo"
        /> -->
        <span
          class="self-center text-xl font-light whitespace-nowrap text-gray-300"
          >CASA</span
        >
        <span
          class="self-center text-xl font-bold whitespace-nowrap text-cb-base"
          >BELLA</span
        >
      </a>

      <span class="font-semibold text-xs text-orange-400 w-[150px]">
        Plataforma de Incentivos Exclusiva da Casabella Inspirada no Metaverso
      </span>
    </div>

    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto h-full"
      id="navbar-sticky"
    >
      <ng-container *ngFor="let item of Menu">
        <ng-container
          *ngTemplateOutlet="menuH; context: { item }"
        ></ng-container>
      </ng-container>
    </div>

    <!-- profile  -->
    <div class="flex items-center gap-2">
      <div class="relative">
        <input
          type="text"
          class="block w-[190px] p-2 pr-10 rounded-lg text-sm text-cb-base bg-[#344A6A] placeholder:text-cb-base focus:border-[#21ACBE] focus:text-[#21ACBE] focus:placeholder:text-[#21ACBE]"
          placeholder="O que você procura?"
        />
        <div
          class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-cb-base"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
      </div>

      <a
        id="dropdownProfile"
        data-dropdown-toggle="dropdown"
        type="button"
        data-dropdown-offset-distance="-50"
        data-dropdown-offset-skidding="80"
        data-dropdown-placement="left"
      >
        <img
          src="https://flowbite.com/docs/images/logo.svg"
          class="h-[40px] w-[40px]"
          alt="Avatar"
        />
      </a>
      <!-- Dropdown menu -->
      <div
        id="dropdown"
        class="z-10 hidden bg-cb-primary border-[#344A6A] border rounded-lg shadow w-48"
      >
        <div
          class="flex items-center justify-between p-2 border-b border-b-cb-secondary"
        >
          <span class="text-gradient-cb">Fernando</span>
          <img
            src="https://flowbite.com/docs/images/logo.svg"
            class="h-[40px] w-[40px]"
            alt="Avatar"
          />
        </div>
        <ul class="py-2 text-sm font-semibold border-0">
          <li>
            <a
              href="/profile"
              class="block px-2 py-2 text-cb-base bg-gradient-cb-hover"
            >
              <i class="fa-solid fa-user mr-2"></i> Perfil
            </a>
          </li>
          <li>
            <a
              href="#"
              class="block px-2 py-2 text-cb-base bg-gradient-cb-hover"
            >
              <i class="fa-solid fa-lock mr-2"></i> Alterar Senha
            </a>
          </li>
          <li>
            <a
              href="#"
              class="block px-2 py-2 text-cb-base bg-gradient-cb-hover"
            >
              <i class="fa-solid fa-file-lines mr-2"></i> Termos e Condições
            </a>
          </li>
          <li>
            <a
              href="#"
              class="block px-2 py-2 text-cb-base bg-gradient-cb-hover"
            >
              <i class="fa-solid fa-right-from-bracket mr-2"></i> Sair
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- nivel 1 menu -->
<ng-template #menuH let-item="item">
  <div class="h-full" *ngIf="item.items">
    <button
      [attr.data-dropdown-toggle]="'dropdown-' + item.id"
      type="button"
      data-dropdown-placement="bottom"
      data-dropdown-offset-distance="-10"
      class="px-2 text-cb-base rounded-b-lg h-full hover:text-cb-info hover:font-semibold focus:text-cb-info focus:font-semibold border-b-[5px] border-transparent bg-gradient-cb-border-hover"
    >
      <i [class]="item.icon + ' mr-3'" *ngIf="item.icon"></i>
      {{ item.title | titlecase }}
    </button>
    <!-- Dropdown menu -->
    <div
      [id]="'dropdown-' + item.id"
      class="z-10 hidden bg-cb-primary border-[#21ACBE] min-w-[250px] border rounded shadow w-48 arrow-up"
    >
      <div
        class="flex items-center justify-between p-3 border-b border-b-cb-secondary"
        *ngIf="item.subtitle"
      >
        <span class="text-sm text-[#21ACBE] font-bold uppercase">
          {{ item.subtitle }}
        </span>
      </div>
      <ul class="text-sm border-0 overflow-y-auto max-h-screen">
        <li
          class="border-b border-b-cb-secondary"
          *ngFor="let subItem of item.items"
        >
          <a
            href="#"
            class="flex items-center px-4 py-2 text-cb-base bg-gradient-cb-hover h-11"
            *ngIf="!subItem.items"
          >
            <i [class]="subItem.icon + ' mr-3'" *ngIf="subItem.icon"></i>
            {{ subItem.title | titlecase }}
          </a>
          <ng-container *ngIf="subItem.items">
            <ng-container
              *ngTemplateOutlet="menuV; context: { item: subItem }"
            ></ng-container>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>
  <div class="h-full" *ngIf="!item.items">
    <button
      class="px-2 text-cb-base rounded-b-lg h-full hover:text-cb-info hover:font-semibold focus:text-cb-info focus:font-semibold border-b-[5px] border-transparent bg-gradient-cb-border-hover"
    >
      <i [class]="item.icon + ' mr-3'" *ngIf="item.icon"></i>
      {{ item.title | titlecase }}
    </button>
  </div>
</ng-template>

<!-- nivel 2 menu -->
<ng-template #menuV let-item="item">
  <div>
    <button
      [attr.data-dropdown-toggle]="'dropdown-' + item.id"
      data-dropdown-placement="right-start"
      data-dropdown-offset-distance="0"
      type="button"
      class="flex items-center justify-between px-4 py-2 text-cb-base bg-gradient-cb-hover w-full"
    >
      <span>
        <i [class]="item.icon + ' mr-3'" *ngIf="item.icon"></i>
        {{ item.title | titlecase }}
      </span>

      <svg
        class="w-2.5 h-2.5 ml-2.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"
        />
      </svg>
    </button>
    <div
      [id]="'dropdown-' + item.id"
      class="z-10 hidden bg-cb-primary border-[#21ACBE] min-w-[250px] border rounded shadow w-48"
    >
      <ul
        class="text-sm text-gray-700 dark:text-gray-200 overflow-y-auto max-h-screen"
      >
        <li
          class="border-b border-b-cb-secondary"
          *ngFor="let subItem of item.items"
        >
          <ng-container *ngIf="!subItem.items">
            <a
              href="#"
              class="flex items-center px-4 py-2 text-cb-base bg-gradient-cb-hover"
              *ngIf="subItem.route"
            >
              <i [class]="subItem.icon + ' mr-3'" *ngIf="subItem.icon"></i>
              {{ subItem.title | titlecase }}
            </a>
            <span
              class="flex items-center px-4 py-2 text-gradient-cb"
              *ngIf="!subItem.route"
            >
              <i [class]="subItem.icon + ' mr-3'" *ngIf="subItem.icon"></i>
              {{ subItem.title | titlecase }}
            </span>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
