<form
  #form="ngForm"
  (ngSubmit)="onSubmit(form)"
  class="grid md:grid-cols-8 gap-3"
>
  <card class="col-span-6" [loading]="loading">
    <div class="card-header">
      <h2 class="text-lg font-semibold">
        {{ dados.id ? "Editar" : "Adicionar" }} Incentivo
      </h2>
    </div>

    <div class="px-4">
      <div class="grid items-end">
        <div class="mb-4">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Nome do Incentivo"
            [isFloating]="false"
            model="name"
            [(ngModel)]="dados.name"
            name="name"
            type="text"
            [required]="true"
            [form]="form"
            size="md"
          />
        </div>
      </div>

      <div class="grid items-end">
        <div class="mb-4">
          <checkbox
            label="Descrição do Incentivo"
            controlName="view_description"
            name="view_description"
            [(ngModel)]="dados.view_description"
          />
          <textarea
            rows="3"
            class="input-cb"
            name="description"
            [(ngModel)]="dados.description"
            placeholder="Descrição do Incentivo"
          ></textarea>
        </div>
      </div>

      <div class="grid items-end">
        <div class="mb-4">
          <checkbox
            label="Premiação"
            controlName="view_award"
            name="view_award"
            [(ngModel)]="dados.view_award"
          />
          <textarea
            rows="3"
            class="input-cb"
            name="award"
            [(ngModel)]="dados.award"
            placeholder="Premiação"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="px-4">
      <div class="grid items-end grid-cols-3 gap-3">
        <div class="mb-4">
          <checkbox
            label="Contém Floral (F$)"
            controlName="view_has_floral"
            name="view_has_floral"
            [(ngModel)]="dados.view_has_floral"
          />
          <input-floating
            class="p-0 bg-transparent border-none"
            model="has_floral"
            [(ngModel)]="dados.has_floral"
            name="has_floral"
            type="select"
            bindValue="key"
            bindText="description"
            [isFloating]="false"
            [form]="form"
            size="md"
          />
        </div>

        <div class="mb-4">
          <checkbox
            label="Quanditade de Floral (F$)"
            controlName="view_quantity_floral"
            name="view_quantity_floral"
            [(ngModel)]="dados.view_quantity_floral"
          />
          <input
            type="tel"
            class="input-cb"
            name="quantity_floral"
            [(ngModel)]="dados.quantity_floral"
            placeholder="Quanditade de Floral (F$)"
            currencyMask
            [options]="{ prefix: 'F$ ', align: 'left' }"
          />
        </div>

        <div class="mb-4">
          <checkbox
            label="Valor do Investimento (R$)"
            controlName="view_investment_value"
            name="view_investment_value"
            [(ngModel)]="dados.view_investment_value"
          />
          <input
            type="tel"
            class="input-cb"
            name="investment_value"
            [(ngModel)]="dados.investment_value"
            placeholder="Valor do Investimento (R$)"
            currencyMask
            [options]="{ prefix: 'R$ ', align: 'left' }"
          />
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="px-4">
      <div class="grid items-end grid-cols-3 gap-3">
        <div class="mb-4">
          <checkbox
            label="Contém NFT"
            controlName="view_has_nft"
            name="view_has_nft"
            [(ngModel)]="dados.view_has_nft"
            [checked]="dados.view_has_nft"
          />
          <input-floating
            class="p-0 bg-transparent border-none col-span-1"
            model="has_nft"
            [(ngModel)]="dados.has_nft"
            name="has_nft"
            type="select"
            bindValue="key"
            bindText="description"
            [isFloating]="false"
            [form]="form"
            size="md"
          />
        </div>

        <!-- <div class="mb-4">
          <checkbox
            label="Quanditade de NFT"
            controlName="view_quantity_nft"
            name="view_quantity_nft"
            [(ngModel)]="dados.view_quantity_nft"
          />
          <input
            type="number"
            class="input-cb"
            name="quantity_nft"
            [(ngModel)]="dados.quantity_nft"
            placeholder="Quanditade de NFT"
          />
        </div> -->

        <div class="mb-4 col-span-2">
          <!-- <checkbox
            label="Vincular NFT"
            controlName="view_nft_id"
            name="view_nft_id"
            [(ngModel)]="dados.view_nft_id"
          /> -->
          <select-default
            label="Vincular NFT"
            [isFloating]="false"
            endpoint="v1/nft"
            inputPlaceholder="Selecione um NFT"
            bindText="name"
            bindValue="id"
            bindImage="image_url"
            [(ngModel)]="dados.nfts"
            name="nfts"
            [form]="form"
            [multiple]="true"
          />
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="px-4">
      <div class="grid items-end grid-cols-3 gap-3">
        <div class="mb-4">
          <checkbox
            label="Início do Incentivo"
            controlName="view_start"
            name="view_start"
            [(ngModel)]="dados.view_start"
          />
          <input
            type="date"
            class="input-cb"
            name="start"
            [(ngModel)]="dados.start"
            placeholder="Início do Incentivo"
          />
        </div>

        <div class="mb-4">
          <checkbox
            label="Término do Incentivo"
            controlName="view_end"
            name="view_end"
            [(ngModel)]="dados.view_end"
          />
          <input
            type="date"
            class="input-cb caret-pink-500"
            name="end"
            [(ngModel)]="dados.end"
            placeholder="Término do Incentivo"
          />
        </div>

        <div class="mb-4">
          <checkbox
            label="Cíclo do Incentivo"
            controlName="view_cycle"
            name="view_cycle"
            [(ngModel)]="dados.view_cycle"
          />
          <select-default
            endpoint="v1/incentives-cycles"
            inputPlaceholder="Cíclo do Incentivo"
            bindText="description"
            bindValue="id"
            [(ngModel)]="dados.incentive_cycle_id"
            name="incentive_cycle_id"
            [form]="form"
          />
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="px-4 mb-4">
      <!-- <ckeditor
        class="editor-cb"
        name="information"
        [(ngModel)]="dados.information"
        [editor]="Editor"
        [config]="config"
      ></ckeditor> -->

      <app-editor
        [(ngModel)]="dados.information"
        name="information"
      ></app-editor>
    </div>

    <div class="divider"></div>

    <div class="px-4">
      <div class="grid items-end gap-3">
        <div class="mb-4">
          <checkbox
            label="Vincular álbum de fotos/vídeos (Galleria)"
            controlName="view_gallery"
            name="view_gallery"
            [(ngModel)]="dados.view_gallery"
          />
          <select-default
            endpoint="v1/incentives-gallery"
            inputPlaceholder="Selecione um álbum"
            bindText="name"
            bindValue="id"
            bindImage="image"
            [(ngModel)]="dados.gallery_id"
            name="gallery_id"
            [form]="form"
          />
        </div>

        <div class="mb-4">
          <checkbox
            label="Link do YouTube"
            controlName="view_link_youtube"
            name="view_link_youtube"
            [(ngModel)]="dados.view_link_youtube"
          />
          <input
            type="url"
            class="input-cb"
            name="link_youtube"
            [(ngModel)]="dados.link_youtube"
            placeholder="URL do vídeo"
          />
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="px-4">
      <div class="grid items-end grid-cols-3 gap-3">
        <div class="mb-4">
          <checkbox
            label="Exibir Ranking"
            controlName="view_ranking"
            name="view_ranking"
            [(ngModel)]="dados.view_ranking"
          />
          <select
            type="text"
            class="input-cb"
            name="show_ranking"
            [(ngModel)]="dados.show_ranking"
          >
            <option value="0">Não</option>
            <option value="1">Sim</option>
          </select>
        </div>

        <div class="mb-4">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Status"
            model="active"
            [(ngModel)]="dados.active"
            name="active"
            type="select"
            bindValue="key"
            bindText="description"
            [options]="status"
            [isFloating]="false"
            [form]="form"
            size="md"
          />
        </div>

        <div class="mb-4">
          <checkbox
            label="Permitir Comentário"
            controlName="view_allow_comment"
            name="view_allow_comment"
            [(ngModel)]="dados.view_allow_comment"
          />
          <select
            type="text"
            class="input-cb"
            name="allow_comment"
            [(ngModel)]="dados.allow_comment"
          >
            <option value="0">Não</option>
            <option value="1">Sim</option>
          </select>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="px-4">
      <div class="grid items-end grid-cols-3 gap-3">
        <div class="mb-4">
          <checkbox
            label="Vincular Termo"
            controlName="view_term_id"
            name="view_term_id"
            [(ngModel)]="dados.view_term_id"
          />
          <select-default
            endpoint="v1/terms"
            inputPlaceholder="Selecione um Termo"
            bindText="name"
            bindValue="id"
            [(ngModel)]="dados.term_id"
            name="term_id"
            [required]="true"
            [form]="form"
          />
        </div>

        <div class="mb-4">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Rascunho"
            model="is_draft"
            [(ngModel)]="dados.is_draft"
            name="is_draft"
            type="select"
            bindValue="key"
            bindText="description"
            [isFloating]="false"
            [form]="form"
            size="md"
          />
        </div>
      </div>
    </div>

    <div class="card-footer flex items-center gap-3">
      <button
        class="btn btn-sm text-white bg-gradient-cb rounded-md font-semibold"
        type="submit"
        [disabled]="loading"
      >
        <spinner *ngIf="loading" />
        <span *ngIf="!loading">Salvar Incentivo</span>
      </button>

      <button
        class="btn btn-sm text-white rounded-md"
        [disabled]="loading"
        *ngIf="dados.id"
        (click)="deleteItem()"
        type="button"
      >
        Excluir incentivo
      </button>

      <button
        class="btn btn-sm text-white rounded-md"
        [disabled]="loading"
        [type]="'button'"
        routerLink="/admin/incentives"
        [queryParams]="{ tab: 'all' }"
      >
        Cancelar
      </button>
    </div>
  </card>

  <div class="col-span-2" *ngIf="!loading">
    <div class="mb-4">
      <card>
        <div class="card-header">
          <h2 class="font-semibold text-cb-secondary">Adicionar capa</h2>
        </div>

        <div class="p-4">
          <image-select
            name="fileCapa"
            title="Selecione a capa"
            subtitle="800 x 540"
            (changeImage)="dados.image = $event[0]"
            [image]="dados.image_url"
          ></image-select>
          <!-- [image]="dados.image" -->
        </div>
      </card>
    </div>

    <div class="mb-4">
      <card>
        <div class="card-header">
          <h2 class="font-semibold text-cb-secondary">Adicionar Banner Feed</h2>
        </div>

        <div class="p-4">
          <image-select
            name="fileBanner"
            title="Selecione o banner"
            subtitle="770 x 470"
            (changeImage)="dados.image_feed = $event[0]"
            [image]="dados.image_feed_url"
            (remove)="dados.image_feed = null"
          ></image-select>
          <!-- [image]="dados.image_feed" -->
        </div>
      </card>
    </div>

    <div class="mb-4">
      <card-choose
        inputPlaceholder="Público"
        endpoint="v1/persons-type"
        bindText="name"
        bindValue="id"
        name="publico"
        (choose)="dados.public = $event"
        [selected]="dados.public"
      ></card-choose>
    </div>

    <div class="mb-4">
      <card-choose
        inputPlaceholder="Segmentos (Participar)"
        endpoint="v1/segments"
        bindText="name"
        bindValue="id"
        name="segment"
        (choose)="dados.segments_participate = $event"
        [selected]="dados.segments_participate"
      ></card-choose>
    </div>

    <div class="mb-4">
      <card-choose
        inputPlaceholder="Segmentos (Visualizar)"
        endpoint="v1/segments"
        bindText="name"
        bindValue="id"
        name="view_segments"
        (choose)="dados.segments_view = $event"
        [selected]="dados.segments_view"
      ></card-choose>
    </div>

    <div class="mb-4">
      <card-choose
        inputPlaceholder="Cidade"
        endpoint="v1/cities"
        bindText="name"
        bindValue="id"
        name="cities"
        (choose)="dados.cities = $event"
        [selected]="dados.cities"
      ></card-choose>
    </div>
  </div>
</form>
