<div class="grid md:grid-cols-2 m-0 h-screen">
  <div class="h-screen hidden md:block">
    <img
      class="w-full h-full object-cover"
      src="../../assets/image-mall.png"
      alt="banner image"
    />
  </div>

  <div class="h-full overflow-y-auto py-6 px-10">
    <div class="flex justify-center">
      <img class="w-1/2 md:w-1/3" src="assets/casabella.svg" alt="" />
    </div>
    <h1
      class="font-extrabold my-4 leading-none tracking-tight text-white max-2xl:text-xl text-center dark:text-white"
    >
      Plataforma de Incentivos Exclusiva da Casabella Inspirada no Metaverso
    </h1>
    <p
      class="text-lg font-normal text-white text-center md:text-lg dark:text-gray-400 mb-4"
    >
      Informe seu usuário e senha para acessar
    </p>
    <div class="flex flex-col justify-center w-full">
      <form
        #form="ngForm"
        (ngSubmit)="onSubmit(form)"
        class="flex flex-col gap-4"
      >
        <!-- <div class="relative">
          <input
            ngModel="email"
            name="email"
            type="email"
            id="email"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-cb-base bg-cb-primary rounded-lg border-1 border-cb-secondary appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-cb-secondary peer autofill:shadow-cb-primary"
            placeholder=" "
          />
          <label
            for="email"
            class="absolute text-sm text-gray-300 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-cb-primary dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-cb-base peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
            >E-mail</label
          >
        </div> -->
        <input-floating
          class="p-0 bg-transparent border-none"
          model="email"
          label="E-mail:"
          ngModel="email"
          name="email"
          type="email"
          required
          email
          [form]="form"
        ></input-floating>

        <input-floating
          class="p-0 bg-transparent border-none"
          model="password"
          label="Senha:"
          ngModel="password"
          name="password"
          type="password"
          required
          [form]="form"
        ></input-floating>

        <div class="flex items-center justify-between mb-6 p-1">
          <div class="flex items-center">
            <input
              id="remember"
              type="checkbox"
              value=""
              class="w-4 h-4 text-cb-info bg-gray-100 border-b-cb-info rounded focus:ring-cb-info dark:focus:ring-teal-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              for="remember"
              class="ml-2 text-sm font-medium text-white dark:text-gray-300"
              >Lembrar senha</label
            >
          </div>
          <div class="flex flex-row justify-center items-center">
            <button
              (click)="showModal()"
              data-modal-target="authentication-modal"
              data-modal-toggle="authentication-modal"
              class="font-medium text-cb-red dark:text-blue-600 hover:underline"
            >
              Esqueceu a senha?
            </button>
          </div>
        </div>
        <button
          type="submit"
          class="text-white bg-gradient-cb bg-gradient-cb-hover focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md w-full h-14 md:w-full px-5 py-2.5 text-center"
        >
          <spinner *ngIf="loading"></spinner>
          <span *ngIf="!loading">Entrar</span>
        </button>
      </form>

      <hr class="h-px my-4 md:my-8 bg-cb-secondary border-0 dark:bg-gray-700" />
      <h1
        class="lg:text-xl font-extrabold leading-none tracking-tight text-cb-base md:text-base text-center dark:text-white"
      >
        Não tem conta?
        <a
          href="javascript:void(0)"
          routerLink="/auth/sigup"
          class="text-gradient-cb dark:text-blue-500 hover:underline"
        >
          Cadastre-se</a
        >
      </h1>
    </div>
  </div>
</div>

<!-- <app-modal></app-modal> -->
