<div class="grid md:grid-cols-2 m-0 h-screen">
  <div class="h-screen hidden md:block">
    <a [href]="LinkRedirecionamentoTelaLogin" target="_blank">
      <img
        class="w-full h-full object-cover"
        [src]="ImagemOuVideoTelaLogin"
        alt="banner image"
        *ngIf="ImagemOuVideoTelaLogin"
      />
    </a>
  </div>

  <div class="flex flex-col justify-center h-full overflow-y-auto py-6 px-10 lg:px-20">
    <div class="flex justify-center">
      <img
        class="w-1/2 md:w-1/3"
        src="assets/logo-floral-x-tela-de-login.svg"
        alt=""
      />
    </div>
    <h1
      class="font-extrabold my-4 leading-none tracking-tight text-white max-2xl:text-xl text-center dark:text-white"
      *ngIf="FraseExibidaTelaLogin"
    >
      {{ FraseExibidaTelaLogin }}
    </h1>
    <p
      class="font-normal text-white text-center md:text-lg dark:text-gray-400 mb-6"
    >
      Informe seu usuário e senha para acessar
    </p>
    <div class="flex flex-col justify-center w-full">
      <form
        #form="ngForm"
        (ngSubmit)="onSubmit(form)"
        class="flex flex-col gap-4"
      >
        <input-floating
          class="p-0 bg-transparent border-none"
          label="E-mail"
          name="email"
          type="email"
          model="email"
          [(ngModel)]="dados.email"
          [form]="form"
          required
        ></input-floating>

        <input-floating
          class="p-0 bg-transparent border-none"
          label="Senha"
          name="password"
          type="password"
          model="password"
          [(ngModel)]="dados.password"
          [form]="form"
          required
        ></input-floating>

        <div class="flex items-center justify-between p-1">
          <div class="flex items-center">
            <input
              id="remember"
              type="checkbox"
              value=""
              class="w-4 h-4 text-cb-info bg-gray-100 border-b-cb-info rounded focus:ring-cb-info dark:focus:ring-teal-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              for="remember"
              class="ml-2 text-sm font-medium text-white dark:text-gray-300"
              >Lembrar senha</label
            >
          </div>
          <div class="flex flex-row justify-center items-center">
            <button
              (click)="openModalForgot()"
              class="font-medium text-cb-red dark:text-blue-600 hover:underline"
              type="button"
            >
              Esqueceu a senha?
            </button>
          </div>
        </div>
        <button
          type="submit"
          class="text-white bg-gradient-cb bg-gradient-cb-hover focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md w-full h-14 md:w-full px-5 py-2.5 text-center"
        >
          <spinner *ngIf="loading"></spinner>
          <span *ngIf="!loading">Entrar</span>
        </button>
      </form>

      <hr class="h-px my-4 md:my-8 bg-cb-secondary border-0 dark:bg-gray-700" />
      <h1
        class="lg:text-xl leading-none tracking-tight text-cb-base md:text-base text-center dark:text-white"
      >
        Não tem conta?
        <a
          href="javascript:void(0)"
          routerLink="/auth/sigup"
          class="text-gradient-cb hover:underline"
        >
          Cadastre-se</a
        >
      </h1>
    </div>
  </div>
</div>

<!-- <app-modal></app-modal> -->
