<div>
  <div class="flex justify-end p-2">
    <button
      class="text-cb-secondary hover:text-cb-base cursor-pointer"
      (click)="dialogRef.close()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <ngx-slick-carousel
    class="carousel w-full"
    #slickModalIncentive="slick-carousel"
    [config]="slideConfig"
  >
    <div
      ngxSlickItem
      *ngFor="let item of dataSource; let i = index"
      class="slide p-2 bg-cb-modal"
    >
      <img [src]="item.image_url" class="rounded-md max-h-[500px]" alt="" />
    </div>
  </ngx-slick-carousel>
</div>

<!--
  <div>
      <div class="flex items-center justify-center gap-2">
      <button class="text-white text-sm" (click)="prev(slickModalIncentive)">
        <i class="fa-solid fa-chevron-left text-lg"></i>
      </button>
      <div class="">
        <div
          ngxSlickItem
          *ngFor="let item of dataSource; let i = index"
          class="slide p-2 bg-cb-modal"
        >
          <img [src]="item.image_url" class="rounded-md max-h-[500px]" alt="" />
        </div>
      </div>
      <button class="text-white text-sm" (click)="next(slickModalIncentive)">
        <i class="fa-solid fa-chevron-right text-lg"></i>
      </button>
    </div>
  </div>
-->
