<form #form="ngForm" (ngSubmit)="submit(form)">
  <card [loading]="loading">
    <div class="card-header">
      <h2 class="text-lg font-semibold">Perfil</h2>
    </div>

    <div class="p-4">
      <div class="flex items-center py-2 gap-6 mb-6">
        <avatar
          size="40"
          [image]="userCurrent?.avatar_url"
          (changeImage)="dados.avatar = $event?.target?.files[0]"
        ></avatar>
        <div class="flex flex-col justify-center">
          <h2 class="text-gradient-cb text-2xl">{{ userCurrent?.nickname }}</h2>
          <p class="text-sm font-semibold">
            Gurpo de acesso: <span class="font-normal">{{ getGroups() }}</span>
          </p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-3 mb-4">
        <div class="">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Nome Completo"
            model="name"
            [(ngModel)]="dados.name"
            name="name"
            type="text"
            required
            [form]="form"
            size="md"
          />
        </div>

        <div class="">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="E-mail"
            model="email"
            [(ngModel)]="dados.email"
            email
            name="email"
            type="text"
            required
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <!-- <div class="">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="CPF"
            model="cpf"
            [(ngModel)]="dados.cpf"
            name="cpf"
            type="text"
            required
            [form]="form"
            size="md"
            mask="CPF_CNPJ"
          />
        </div> -->
      </div>

      <div class="grid grid-cols-4 gap-3 mb-4">
        <div class="">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Data de Nascimento"
            model="birthdate"
            [(ngModel)]="dados.birthdate"
            name="birthdate"
            type="date"
            [form]="form"
            size="md"
          />
        </div>

        <div class="">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Telefone 1"
            model="phone"
            [(ngModel)]="dados.phone"
            name="phone"
            type="phone"
            required
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Telefone 2"
            model="phone_2"
            [(ngModel)]="dados.phone_2"
            name="phone_2"
            type="phone"
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <combobox
          class="p-0 bg-transparent border-none"
          label="Gênero"
          model="gender"
          [(ngModel)]="dados.gender"
          name="gender"
          [options]="gender"
          bindValue="key"
          bindText="description"
          placeholder="Selecione uma opção"
          [form]="form"
          size="md"
        />
      </div>

      <div class="grid grid-cols-3 gap-3 mb-4">
        <select-default
          class="p-0 bg-transparent border-none"
          label="Cidade"
          model="city_id"
          [(ngModel)]="dados.city_id"
          name="city_id"
          type="select"
          bindValue="id"
          bindText="name"
          placeholder="Selecione uma cidade"
          endpoint="v1/cities?per_page=200"
          [required]="true"
          [form]="form"
          size="md"
          bindTextSecondaryDivider="/"
          bindTextSecondary="state.label"
        />
      </div>
    </div>

    <div class="card-footer flex items-center gap-3">
      <button-cb
        type="submit"
        classes="btn-sm btn-md w-full rounded-md bg-gradient-cb font-semibold"
        label="Salvar Alterações"
        [loading]="loading"
      />
    </div>
  </card>
</form>
