<card>
  <div class="flex justify-between">
    <div class="flex items-center gap-4 p-4">
      <div
        class="rounded-full ring-4 bg-conic-gradient(from 0deg at 50% 50%, red, green) w-12 h-12 overflow-hidden"
      >
        <img
          [src]="dados?.user?.avatar ?? tools.noImageAvatar"
          class="object-cover w-full h-full"
          alt=""
        />
      </div>
      <div>
        <h2 class="m-0">{{ dados?.user?.name }}</h2>
        <p class="text-sm">{{ tools.getTimeFrom(dados.created_at) }}</p>
      </div>
    </div>

    <div *ngIf="dados?.user?.id == userCurrent.id" class="p-4">
      <button class="" routerLink="editar-post" [state]="{ post_id: dados.id }">
        <i class="fa-solid fa-pen"></i>
      </button>
    </div>
  </div>

  <div class="p-4">
    {{ dados?.description }}
  </div>

  <img *ngIf="dados?.attachment_url" [src]="dados.attachment_url" alt="" />

  <div
    class="p-4 flex items-center justify-between border-b border-cb-secondary"
  >
    <div></div>
    <div class="text-sm">{{ dados?.comments?.length }} comentários</div>
  </div>
  <div
    class="p-4 flex items-center justify-between gap-4"
    *ngIf="dados?.allow_comments"
  >
    <btn-like class="min-w-max"></btn-like>
    <!-- <div class="min-w-max">
    </div> -->
    <div class="w-full relative">
      <input
        type="text"
        class="input-cb-rounded"
        name="name"
        placeholder="Deixe o seu comentário"
      />
      <button
        class="absolute inset-y-0 right-3 flex items-center pr-3 text-gradient-cb"
      >
        <i class="fa-solid fa-paper-plane mr-2"></i>
      </button>
    </div>
  </div>
</card>
