<div class="mb-4">
  <card>
    <ul class="flex flex-wrap gap-3 text-sm font-medium text-center p-5">
      <li
        routerLink="/admin/floral/transfer-auth"
        [queryParams]="{ tab: 'authorize' }"
      >
        <button
          class="px-8 py-2 text-cb-base rounded-md"
          [ngClass]="{ 'bg-gradient-cb font-semibold': tab == 'authorize' }"
        >
          Autorizar
        </button>
      </li>

      <li
        routerLink="/admin/floral/transfer-auth"
        [queryParams]="{ tab: 'authorized' }"
      >
        <button
          class="px-8 py-2 text-cb-base rounded-md"
          [ngClass]="{ 'bg-gradient-cb font-semibold': tab == 'authorized' }"
        >
          Autorizados
        </button>
      </li>

      <li
        routerLink="/admin/floral/transfer-auth"
        [queryParams]="{ tab: 'refused' }"
      >
        <button
          class="px-8 py-2 text-cb-base rounded-md"
          [ngClass]="{ 'bg-gradient-cb font-semibold': tab == 'refused' }"
        >
          Recusados
        </button>
      </li>
    </ul>

    <div class="p-5 grid grid-cols-2 border-t border-cb-secondary">
      <input-search></input-search>
    </div>
  </card>
</div>

<div
  class="rounded-md border border-cb-secondary grid grid-flow-col justify-stretch text-cb-base mb-3"
  *ngFor="let item of dataSource.data"
>
  <div
    class="py-2 px-4 flex flex-col justify-center border-r border-cb-secondary text-2xl text-cb-success font-bold"
  >
    {{ item?.amount | currency : "BRL" : "F$" : "1.4-4" }}
  </div>

  <div
    class="py-2 px-4 flex flex-col justify-center border-r border-cb-secondary"
  >
    <div>
      <p>
        De:
        <span class="text-cb-info text-sm">
          {{ item?.transaction?.user_from?.nickname }}
        </span>
      </p>
      <p>
        Para:
        <span class="text-cb-info text-sm">
          {{ item?.transaction?.user_to?.nickname }}
        </span>
      </p>
    </div>
  </div>

  <div
    class="py-2 px-4 flex flex-col justify-center border-r border-cb-secondary text-center"
  >
    <div>
      <p>Data:</p>
      <p>
        <span class="text-cb-info text-sm">
          {{ item.created_at | date : "dd/MM/yyyy" }}
        </span>
      </p>
    </div>
  </div>

  <ng-container *ngIf="tab === 'authorized'">
    <div class="py-2 px-4 flex flex-col justify-center">
      <div>
        <p>Autorizado por:</p>
        <span class="text-cb-info text-sm">
          {{ item?.transaction?.authorized?.name }}
        </span>
      </div>
    </div>

    <!-- <div
      class="py-2 px-4 flex flex-col justify-center border-l border-cb-secondary gap-2"
    >
      <div>
        <p>Motivo:</p>
        <span class="text-cb-info text-sm">
          {{ item?.transaction?.observation }}
        </span>
      </div>
    </div> -->
  </ng-container>

  <ng-container *ngIf="tab === 'refused'">
    <div class="py-2 px-4 flex flex-col justify-center">
      <div>
        <p>Recusado por:</p>
        <span class="text-cb-info text-sm">
          {{ item?.transaction?.unauthorized?.name }}
        </span>
      </div>
    </div>

    <div
      class="py-2 px-4 flex flex-col justify-center border-l border-cb-secondary gap-2"
    >
      <div>
        <p>Motivo:</p>
        <span class="text-cb-info text-sm">
          {{ item?.transaction?.observation }}
        </span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="tab === 'authorize'">
    <div class="py-2 px-4 flex flex-col justify-center">
      <div>
        <p>Mensagem:</p>
        <span class="text-cb-info text-sm">{{ item.observation }}</span>
      </div>
    </div>

    <div
      class="py-2 px-4 flex flex-col justify-center border-l border-cb-secondary gap-2"
    >
      <div class="flex gap-2">
        <button
          class="btn-sm btn-md w-full rounded-md bg-gradient-cb font-semibold"
          (click)="openModalApproveRefuse(item, 'approve')"
        >
          Aprovar
        </button>

        <button
          class="btn-sm btn-md w-full text-white rounded-md border border-cb-secondary"
          (click)="openModalApproveRefuse(item, 'refuse')"
        >
          Recusar
        </button>
      </div>
    </div>
  </ng-container>
</div>
