<card>
  <div class="card-header">
    <h2 class="text-lg font-semibold">
      Depósito de Floral para Caixa Casabella
    </h2>
  </div>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="p-4">
      <div
        class="mb-4 rounded-md bg-gradient-amount-floral py-6 flex flex-col justify-center items-center gap-2"
      >
        <input
          type="text"
          class="block rounded-t-lg px-2.5 pb-4 pt-5 w-1/2 text-4xl font-bold text-cb-base bg-transparent border-0 border-b-2 border-cb-secondary appearance-none focus:outline-none focus:ring-0 focus:border-cb-info focus:text-cb-info peer"
          placeholder=" "
          currencyMask
          [options]="{ prefix: 'F$ ', align: 'center', precision: 4 }"
          name="amount"
          [(ngModel)]="dados.amount"
        />
        <label class="text-cb-base text-lg font-bold">Informe o valor</label>
      </div>

      <div class="mb-4">
        <textarea
          class="input-cb"
          rows="5"
          name="observation"
          [(ngModel)]="dados.observation"
          placeholder="Escreva uma observação"
        ></textarea>
      </div>
    </div>

    <div class="p-4 border-t border-cb-secondary">
      <h3 class="font-semibold">Termos e ciência</h3>
      <div class="flex item-center">
        <checkbox
          label="Estou ciente que esta transferência é irreversível"
          controlName="check1"
          name="check1"
          [required]="true"
        ></checkbox>
      </div>
      <div class="flex item-center gap-2">
        <checkbox
          controlName="check2"
          name="check2"
          [required]="true"
        ></checkbox>
        <label class="text-sm font-medium" for="check2"
          >Eu aceito os
          <a href="javascript:void(0)" class="text-blue-500">
            Termos e Condições de Uso
          </a>
          da Casabella Fragrâncias</label
        >
      </div>
    </div>

    <div class="card-footer flex items-center gap-3">
      <button-cb
        type="submit"
        classes="btn-sm btn-md w-full rounded-md bg-gradient-cb font-semibold"
        label="Enviar Floral"
        [loading]="loading"
      ></button-cb>

      <button-cb
        classes="btn-sm btn-md w-full text-white rounded-md"
        routerLink="/admin/floral"
        [queryParams]="{ tab: 'pending' }"
        label="Cancelar"
        [loading]="loading"
      ></button-cb>
    </div>
  </form>
</card>
