<div class="mb-4">
  <card>
    <ul class="flex flex-wrap gap-3 text-sm font-medium text-center p-5">
      <li (click)="setTab('active')">
        <button
          class="px-8 py-2 text-cb-base rounded-md"
          [ngClass]="{ 'bg-gradient-cb font-semibold': tab == 'active' }"
        >
          Ativos
        </button>
      </li>

      <li (click)="setTab('suspend')">
        <button
          class="px-8 py-2 text-cb-base rounded-md"
          [ngClass]="{ 'bg-gradient-cb font-semibold': tab == 'suspend' }"
        >
          Inativos
        </button>
      </li>

      <li (click)="setTab('waiting approve')">
        <button
          class="px-8 py-2 text-cb-base rounded-md"
          [ngClass]="{
            'bg-gradient-cb font-semibold': tab == 'waiting approve'
          }"
        >
          Pendentes
        </button>
      </li>

      <li>
        <button
          [routerLink]="['/admin/users/add']"
          class="px-8 py-2 text-cb-base rounded-md"
        >
          Cadastrar
        </button>
      </li>
    </ul>
  </card>
</div>

<card [loading]="loading">
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left table-cb">
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th class="text-center">Usuário</th>
          <th class="text-center" *ngIf="tab != 'waiting approve'">Segmento</th>
          <th class="text-center" *ngIf="tab != 'waiting approve'">Grupo</th>
          <th class="text-center" *ngIf="tab == 'waiting approve'">
            Documento
          </th>
          <th *ngIf="tab == 'waiting approve'"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of dataSource.data; let i = index"
          class="bg-transparent"
          [class.bg-cb-secondary]="i % 2 === 0"
          (dblclick)="edit(item)"
        >
          <td>
            <div class="flex items-center">
              <img
                [src]="item?.user?.avatar ?? tools.noImageAvatar"
                alt="avatar"
                class="h-10 w-10 rounded-full mr-3"
              />
              <span>{{ item.name }}</span>
            </div>
          </td>
          <td>{{ item?.user?.email }}</td>
          <td class="text-center">{{ item?.user?.nickname }}</td>
          <td class="text-center" *ngIf="tab != 'waiting approve'">
            {{ item?.segment?.name }}
          </td>
          <td class="text-center" *ngIf="tab != 'waiting approve'">
            <ng-container *ngIf="item?.user?.group">
              <p class="text-xs" *ngFor="let group of item.user.group">
                {{ group.name }}
              </p>
            </ng-container>
          </td>
          <td class="text-center" *ngIf="tab == 'waiting approve'">
            <i class="fa-solid fa-paperclip text-gradient-cb text-xl"></i>
          </td>
          <td class="flex items-center gap-2" *ngIf="tab == 'waiting approve'">
            <button
              class="btn btn-sm text-white bg-gradient-cb bg-gradient-cb-hover"
              [disabled]="loading"
              (click)="approve(item)"
            >
              <spinner *ngIf="loading" />
              <span *ngIf="!loading">Aprovar</span>
            </button>
            <button
              class="btn btn-sm text-white"
              [disabled]="loading"
              (click)="approve(item, false)"
            >
              Negar
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="relative overflow-x-auto">
      <div
        class="text-center py-2 text-gray-400"
        *ngIf="dataSource.data.length <= 0"
      >
        Nenhum Cliente encontrado.
      </div>
    </div>
  </div>
  <div class="card-footer flex gap-3 items-center">
    <select
      [(ngModel)]="filters.per_page"
      (ngModelChange)="getList()"
      class="select-default"
    >
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="200">200</option>
    </select>
    <span class="text-gray-400 text-sm">
      Exibindo {{ dataSource.to }} de {{ dataSource.total }}
    </span>
  </div>
</card>
