<div class="mb-4">
  <card>
    <ul class="flex flex-wrap gap-3 text-sm font-medium text-center p-5">
      <li
        routerLink="/admin/nfts/transfer-auth"
        [queryParams]="{ tab: 'authorize' }"
      >
        <button
          class="px-8 py-2 text-cb-base rounded-md"
          [ngClass]="{ 'bg-gradient-cb font-semibold': tab == 'authorize' }"
        >
          Autorizar
        </button>
      </li>

      <li
        routerLink="/admin/nfts/transfer-auth"
        [queryParams]="{ tab: 'refused' }"
      >
        <button
          class="px-8 py-2 text-cb-base rounded-md"
          [ngClass]="{ 'bg-gradient-cb font-semibold': tab == 'refused' }"
        >
          Recusados
        </button>
      </li>
    </ul>

    <div class="p-5 grid grid-cols-2 border-t border-cb-secondary">
      <input-search></input-search>
    </div>
  </card>
</div>

<div
  class="rounded-md border border-cb-secondary flex justify-between text-cb-base"
  *ngFor="let item of dataSource.data"
>
  <div class="overflow-hidden rounded-s-md border-r border-cb-secondary">
    <img [src]="item?.nft?.image" alt="nft" class="h-24 w-32 object-cover" />
  </div>

  <div class="p-4 flex flex-col justify-center border-r border-cb-secondary">
    <div>
      <p>
        De:
        <span class="text-cb-info text-sm">
          {{ item?.nft?.user?.name ?? "@casabella" }}
        </span>
      </p>
      <p>
        Para:
        <span class="text-cb-info text-sm">
          {{ item?.reciver?.nickname }}
        </span>
      </p>
    </div>
  </div>

  <div
    class="p-4 flex flex-col justify-center border-r border-cb-secondary text-center"
  >
    <div>
      <p>Data:</p>
      <p>
        <span class="text-cb-info text-sm">
          {{ item.created_at | date : "dd/MM/yyyy" }}
        </span>
      </p>
    </div>
  </div>

  <ng-container *ngIf="tab === 'refused'">
    <div class="p-4 flex flex-col justify-center">
      <div>
        <p>Recusado por:</p>
        <span class="text-cb-info text-sm">{{ item?.refuser?.nickname }}</span>
      </div>
    </div>

    <div
      class="p-4 flex flex-col justify-center border-l border-cb-secondary gap-2 w-3/12"
    >
      <div>
        <p>Motivo:</p>
        <span class="text-cb-info text-sm">{{ item?.details }}</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="tab === 'authorize'">
    <div class="p-4 flex flex-col justify-center">
      <div>
        <p>Mensagem:</p>
        <span class="text-cb-info text-sm">{{ item?.details }}</span>
      </div>
    </div>

    <div
      class="p-4 flex flex-col justify-center border-l border-cb-secondary gap-2"
    >
      <div class="flex gap-2">
        <button
          class="btn-sm btn-md w-full rounded-md bg-gradient-cb font-semibold"
          (click)="openModalApproveRefuse(item, 'approve')"
        >
          Aceitar
        </button>

        <button
          class="btn-sm btn-md w-full text-white rounded-md border border-cb-secondary"
          (click)="openModalApproveRefuse(item, 'refuse')"
        >
          Recusar
        </button>
      </div>
    </div>
  </ng-container>
</div>
