<div class="mb-4">
  <div class="my-3">
    <alert-display
      title='A opção de "Fale Conosco" só deverá ser utilizada em dúvidas, sugestões e/ou
    reclamações desta plataforma de incentivos.'
    ></alert-display>
  </div>

  <card>
    <div class="card-header">
      <h2 class="text-lg font-semibold">Abrir Nova Solicitação</h2>
    </div>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="px-4">
        <div class="grid md:grid-cols-3 gap-3 mb-4">
          <input-floating
            class="p-0 bg-transparent border-none col-span-2"
            label="Assunto"
            model="subject"
            name="subject"
            [(ngModel)]="dados.subject"
            type="text"
            [required]="true"
            [form]="form"
            size="md"
          ></input-floating>

          <combobox
            class="p-0 bg-transparent border-none"
            label="Tipo de Chamado"
            model="type"
            [(ngModel)]="dados.type"
            name="type"
            [options]="optionsCall"
            bindValue="key"
            bindText="description"
            placeholder="Selecione um tipo"
            [required]="true"
            [form]="form"
            size="md"
          ></combobox>
        </div>

        <div class="mb-4">
          <!-- <textarea
            class="input-cb col-span-2"
            [rows]="10"
            name="description"
            [(ngModel)]="dados.description"
            placeholder="Descrição do Seu Chamado"
          ></textarea> -->
          <input-floating
            class="p-0 bg-transparent border-none col-span-2"
            model="description"
            name="description"
            [(ngModel)]="dados.description"
            type="textarea"
            placeholder="Descrição do Seu Chamado"
            [rows]="10"
            [required]="true"
            [form]="form"
            size="md"
          />
        </div>

        <div class="mb-4">
          <dropzone
            (changeFile)="onFileSelected($event)"
            [files]="files"
            extends="image/*,application/msword,application/vnd.ms-excel,text/plain,application/pdf, video/*"
          ></dropzone>
        </div>
      </div>

      <div class="card-footer flex items-center gap-3">
        <button-cb
          type="submit"
          classes="btn-sm btn-md w-full rounded-md bg-gradient-cb font-semibold"
          label="Criar"
          [loading]="loading"
        ></button-cb>

        <button-cb
          classes="btn-sm btn-md w-full text-white rounded-md"
          routerLink="/fale-conosco"
          [queryParams]="{ tab: 'all' }"
          label="Cancelar"
          [loading]="loading"
        ></button-cb>
      </div>
    </form>
  </card>
</div>
