<div
  class="flex gap-3 border border-cb-secondary overflow-x-auto rounded p-4 mb-3"
>
  <app-nft-card
    [nft]="{ src: 'assets/nft1.jpg' }"
    (click)="openModalNFT()"
  ></app-nft-card>
  <app-nft-card [nft]="{ src: 'assets/nft2.jpg' }"></app-nft-card>
  <app-nft-card [nft]="{ src: 'assets/nft3.jpg' }"></app-nft-card>
  <app-nft-card [nft]="{ src: 'assets/nft4.jpg' }"></app-nft-card>
  <app-nft-card [nft]="{ src: 'assets/nft4.jpg' }"></app-nft-card>
  <app-nft-card [nft]="{ src: 'assets/nft4.jpg' }"></app-nft-card>
  <app-nft-card [nft]="{ src: 'assets/nft4.jpg' }"></app-nft-card>
  <app-nft-card [nft]="{ src: 'assets/nft4.jpg' }"></app-nft-card>
  <app-nft-card [nft]="{ src: 'assets/nft4.jpg' }"></app-nft-card>
  <app-nft-card [nft]="{ src: 'assets/nft4.jpg' }"></app-nft-card>
  <app-nft-card [nft]="{ src: 'assets/nft4.jpg' }"></app-nft-card>
</div>

<div class="mb-3">
  <post-card></post-card>
</div>
