<div class="relative" *ngIf="loadingNFT || loadingFeed">
  <div class="text-center w-full">
    <spinner [size]="8" color="cb"></spinner>
  </div>
</div>

<div
  class="border border-cb-secondary rounded p-4 mb-3 relative"
  *ngIf="nfts.length > 0"
>
  <ngx-slick-carousel
    *ngIf="!loadingNFT"
    class="carousel w-full"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)"
  >
    <div ngxSlickItem *ngFor="let item of nfts" class="slide">
      <app-nft-card
        [nft]="{ src: item.image_url }"
        (click)="openModalNFT(item)"
      ></app-nft-card>
    </div>
  </ngx-slick-carousel>
</div>

<div class="flex flex-col gap-3 mb-3">
  <post-card *ngFor="let item of posts.data" [dados]="item"></post-card>
</div>
