<div
  class="flex gap-3 border border-cb-secondary overflow-x-auto rounded p-4 mb-3"
>
  <ngx-slick-carousel
    class="carousel w-full"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)"
  >
    <div ngxSlickItem *ngFor="let item of nfts" class="slide">
      <app-nft-card
        [nft]="{ src: item.image }"
        (click)="openModalNFT(item)"
      ></app-nft-card>
    </div>
  </ngx-slick-carousel>
</div>

<div class="mb-3">
  <post-card *ngFor="let item of posts.data" [dados]="item"></post-card>
</div>
