<modal [title]="getTitle()" [dialogRef]="dialogRef">
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="p-4" *ngIf="!data?.user">
      <div class="mb-4 text-sm">
        Você está
        <span *ngIf="mode == 'approve'" class="text-cb-success font-bold"
          >AUTORIZANDO</span
        >
        <span *ngIf="mode != 'approve'" class="text-cb-red font-bold"
          >RECUSANDO</span
        >
        a transferência de Floral conforme nossos
        <a href="#" target="_blank" class="text-cb-info"
          >Termos e Condições de Uso.</a
        >
      </div>
      <div class="grid grid-cols-12 gap-2 mb-4">
        <div
          class="col-span-6 border border-cb-secondary bg-cb-primary flex items-center justify-center"
        >
          <h1 class="text-cb-success font-semibold text-xl mb-1">
            {{ dados.amount | currency : "BRL" : "F$" : "1.4-4" }}
          </h1>
          <!-- <img [src]="dados?.nft?.image" class="w-full rounded-md" alt="" /> -->
        </div>
        <div class="col-span-6">
          <!-- <h2 class="font-semibold text-cb-info">
            {{ dados?.nft?.name }}
          </h2> -->
          <p>
            De:
            <span class="text-cb-info text-sm">
              {{ dados?.transaction?.user_from?.nickname ?? "@casabella" }}
            </span>
          </p>
          <p>
            Para:
            <span class="text-cb-info text-sm">
              {{ dados?.transaction?.user_to?.nickname }}
            </span>
          </p>
          <p>
            Data:
            <span class="text-cb-info text-sm">
              {{ dados?.created_at | date : "dd/MM/yyyy" }}
            </span>
          </p>
        </div>
      </div>

      <div class="mb-2">
        <textarea
          class="input-cb"
          rows="5"
          name="observation"
          [(ngModel)]="formData.observation"
          placeholder="Escreva uma observação"
        ></textarea>
      </div>
    </div>

    <div class="p-4" *ngIf="data?.user">
      <div class="mb-4 text-base text-center">
        Você
        <span *ngIf="mode == 'approve'" class="text-cb-success font-bold"
          >Aceita</span
        >
        <span *ngIf="mode != 'approve'" class="text-cb-red font-bold"
          >Recusa</span
        >
        a transferência de Floral conforme nossos
        <a href="#" target="_blank" class="text-cb-info"
          >Termos e Condições de Uso.</a
        >
      </div>
      <div class="grid gap-2 mb-4">
        <div class="flex items-center justify-center">
          <h1 class="text-cb-success font-semibold text-3xl mb-1">
            {{ dados.amount | currency : "BRL" : "F$" : "1.4-4" }}
          </h1>
        </div>
      </div>
    </div>

    <div class="card-footer flex items-center justify-between gap-3">
      <button-cb
        class="w-full"
        classes="{{
          data?.user ? 'btn-lg' : 'btn-sm'
        }} text-white bg-gradient-cb rounded-md font-semibold w-full"
        [loading]="loading"
        [label]="getLabelButton()"
        type="submit"
      />

      <button
        class="btn btn-sm text-white rounded-md w-full"
        [disabled]="loading"
        (click)="dialogRef.close()"
        *ngIf="!data?.user"
      >
        Voltar
      </button>
    </div>
  </form>
</modal>
