<form #form="ngForm">
  <card>
    <div class="card-header">
      <h2 class="text-lg font-semibold">Importar Usuários</h2>
    </div>

    <div class="p-4 border-b border-cb-secondary">
      <div class="w-1/2">
        <div class="text-cb-base mx-1 mb-2">
          <label>Importar planilha XLS com usuários</label>
        </div>
        <input-file
          name="file"
          [form]="form"
          ngModel
          [required]="true"
          (selectFile)="selectFile($event)"
        ></input-file>
      </div>
    </div>

    <div class="p-4">
      <a
        target="_blank"
        [href]="service.getBaseUrl() + 'v1/users/import/sample-all'"
        class="flex items-center gap-3 text-cb-secondary cursor-pointer hover:text-orange-500 w-max"
      >
        <i class="fa-solid fa-file-arrow-down text-3xl"></i>
        <span>Baixar modelo</span>
      </a>
    </div>

    <div class="card-footer flex items-center gap-3">
      <button
        class="btn btn-sm text-white bg-gradient-cb bg-gradient-cb-hover rounded-md"
        type="button"
        (click)="save(form)"
        [disabled]="loading || !form.valid"
      >
        <spinner *ngIf="loading" />
        <span *ngIf="!loading">Importar</span>
      </button>
      <!-- <button class="btn btn-sm text-white rounded-md" [disabled]="loading">
        Cancelar
      </button> -->
    </div>
  </card>
</form>
