<div class="mb-4">
  <card>
    <div class="flex flex-col md:flex-row justify-between items-center">
      <ul
        class="flex flex-wrap gap-2 text-sm font-medium text-center p-5 w-full md:w-3/4"
      >
        <li routerLink="/floral" [queryParams]="{ tab: 'my' }">
          <button
            class="px-8 py-2 text-cb-base rounded-md"
            [ngClass]="{ 'bg-gradient-cb font-semibold': tab == 'my' }"
          >
            Meu Floral
          </button>
        </li>

        <li
          routerLink="/floral"
          [queryParams]="{ tab: 'pending' }"
          *ngIf="tools.getRule('movement_floral', rules)"
        >
          <button
            class="px-8 py-2 text-cb-base rounded-md"
            [ngClass]="{ 'bg-gradient-cb font-semibold': tab == 'pending' }"
          >
            Pendentes
          </button>
        </li>

        <li *ngIf="tools.getRule('movement_floral', rules)">
          <button
            [routerLink]="['transferir']"
            class="px-8 py-2 text-cb-base rounded-md"
          >
            Transferir
          </button>
        </li>

        <li *ngIf="tools.getRule('movement_floral', rules)">
          <button
            [routerLink]="['resgatar']"
            class="px-8 py-2 text-cb-base rounded-md"
          >
            Resgatar
          </button>
        </li>
      </ul>

      <div class="p-5 w-full md:w-auto">
        <input-search></input-search>
      </div>
    </div>
  </card>
</div>

<card *ngIf="tab != 'pending'">
  <div class="flex items-center gap-3 p-4">
    <div class="flex items-center gap-2">
      <input
        type="date"
        class="input-cb"
        [(ngModel)]="filtersExtract.startDate"
        (ngModelChange)="getExtract()"
      />

      <input
        type="date"
        class="input-cb"
        [(ngModel)]="filtersExtract.endDate"
        (ngModelChange)="getExtract()"
      />
    </div>

    <ul class="flex flex-wrap gap-3 text-sm font-medium text-center">
      <li>
        <button
          class="px-4 py-2 text-cb-base rounded-md border border-cb-secondary"
          [ngClass]="{
            'bg-gradient-cb font-semibold': filtersExtract.movement == 'input'
          }"
          (click)="changeMovement('input')"
        >
          Entrada
        </button>
      </li>

      <li>
        <button
          class="px-4 py-2 text-cb-base rounded-md border border-cb-secondary"
          [ngClass]="{
            'bg-gradient-cb font-semibold': filtersExtract.movement == 'output'
          }"
          (click)="changeMovement('output')"
        >
          Saída
        </button>
      </li>
    </ul>

    <button
      class="px-4 py-2 text-cb-base rounded-md border border-cb-secondary bg-cb-info"
      (click)="getExtract()"
    >
      Filtrar
    </button>
  </div>

  <div class="md:px-10 px-5 p-5">
    <app-timeline [loading]="loading">
      <li class="mb-10 ms-6" *ngFor="let item of extract.data">
        <div class="absolute flex items-center justify-center -start-3">
          <span class="w-6 h-6 bg-cb-info rounded-full"></span>
        </div>
        <h3 class="text-sm font-semibold">
          {{ item?.transaction_date | date : "EE d, MMM y" }}
        </h3>

        <div
          *ngFor="let row of item.list"
          [ngClass]="{
            'bg-gradient-item-positive':
              tools.getMovementType(row, userCurrent.id) == 'input',
            'bg-gradient-item-negative':
              tools.getMovementType(row, userCurrent.id) == 'output'
          }"
          class="bg-gradient-item-positive flex items-center justify-between gap-2 p-2 my-1 rounded-md"
        >
          <span [innerHTML]="tools.getDescriptionTransaction(row)"></span>
          <div class="flex items-center gap-2">
            <i
              class="fa-solid"
              [ngClass]="{
                'text-cb-success':
                  tools.getMovementType(row, userCurrent.id) == 'input',
                'text-cb-red':
                  tools.getMovementType(row, userCurrent.id) == 'output',
                'fa-plus':
                  tools.getMovementType(row, userCurrent.id) == 'input',
                'fa-minus':
                  tools.getMovementType(row, userCurrent.id) == 'output'
              }"
            ></i>
            <span>
              {{ row?.value | currency : "BRL" : "F$" : "1.4-4" }}
            </span>
          </div>
        </div>
      </li>
    </app-timeline>
  </div>
</card>

<ng-container *ngIf="tab == 'pending'">
  <div
    class="rounded-md border border-cb-secondary flex justify-between text-cb-base mb-2"
    *ngFor="let item of dataSource.data"
  >
    <div
      class="py-2 px-4 flex flex-col justify-center border-r border-cb-secondary text-2xl text-cb-success font-bold min-w-max"
    >
      {{ item?.amount | currency : "BRL" : "F$" : "1.4-4" }}
    </div>

    <div class="p-4 flex flex-col justify-center border-r border-cb-secondary">
      <p class="flex gap-2" *ngIf="isReceive(item)">
        <i class="fa-solid fa-circle flex text-cb-success"></i>
        <span class="">Recebido</span>
      </p>
      <p class="flex gap-2" *ngIf="isSend(item)">
        <i class="fa-solid fa-circle flex text-cb-red"></i>
        <span class="">Enviado</span>
      </p>
      <p class="flex gap-2" *ngIf="isRescue(item)">
        <i class="fa-solid fa-circle flex text-cb-orange"></i>
        <span class="">Resgate</span>
      </p>
    </div>

    <div
      class="p-4 flex flex-col justify-center border-r border-cb-secondary w-full"
    >
      <div
        class="text-center"
        *ngIf="item?.transaction?.from_user_id != userCurrent.id"
      >
        <p>Recebido de:</p>
        <p>
          <span class="text-cb-info text-sm">
            {{ item?.transaction?.user_from?.nickname ?? "@casabella" }}
          </span>
        </p>
      </div>

      <div
        class="text-center"
        *ngIf="item?.transaction?.from_user_id == userCurrent.id"
      >
        <p>Enviado para:</p>
        <p>
          <span class="text-cb-info text-sm">
            {{ item?.transaction?.user_to?.nickname ?? "@casabella" }}
          </span>
        </p>
      </div>

      <div class="text-center" *ngIf="isRescue(item)">
        <p>
          <span class="text-cb-info text-sm"> Aguardando aprovação </span>
        </p>
      </div>
    </div>

    <div class="p-4 flex flex-col justify-center text-center w-full">
      <div>
        <p>Data:</p>
        <p>
          <span class="text-cb-info text-sm">
            {{ item?.created_at | date : "dd/MM/yyyy" }}
          </span>
        </p>
      </div>
    </div>

    <div
      class="p-4 flex flex-col justify-center text-center w-full"
      *ngIf="isRescue(item)"
    >
      <div>
        <p>Taxa:</p>
        <p>
          <span class="text-cb-info text-sm">
            {{ item?.created_at | date : "dd/MM/yyyy" }}
          </span>
        </p>
      </div>
    </div>

    <div
      class="p-4 flex flex-col justify-center border-l border-cb-secondary gap-2 w-full"
      *ngIf="isReceive(item)"
    >
      <div class="flex gap-2">
        <button
          class="btn-sm btn-md w-full rounded-md bg-gradient-cb font-semibold"
          (click)="openModalApproveRefuse(item, 'approve')"
        >
          Aceitar
        </button>

        <button
          class="btn-sm btn-md w-full text-white rounded-md border border-cb-secondary"
          (click)="openModalApproveRefuse(item, 'refuse')"
        >
          Recusar
        </button>
      </div>
    </div>
    <div
      class="p-4 flex flex-col justify-center border-l border-cb-secondary gap-2 w-full"
      *ngIf="isSend(item)"
    >
      <div class="flex gap-2">
        <button
          class="btn-sm btn-md w-full text-white rounded-md border border-cb-secondary"
        >
          Aguardando
        </button>

        <button
          class="btn-sm btn-md w-full rounded-md bg-gradient-cb font-semibold"
          (click)="openModalApproveRefuse(item, 'cancel')"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</ng-container>
