<div class="relative" *ngIf="loading">
  <div class="text-center w-full">
    <spinner [size]="8" color="cb"></spinner>
  </div>
</div>

<div class="grid grid-cols-12 gap-3" *ngIf="!loading">
  <div class="col-span-5">
    <card>
      <div
        class="grid grid-cols-1 divide-y divide-cb-secondary max-h-[500px] overflow-y-auto"
      >
        <div
          class="flex items-center justify-between px-4 py-6 cursor-pointer hover:bg-cb-info"
          *ngFor="let item of chats"
          [ngClass]="{ 'bg-cb-info': currentChat.token == item.token }"
          (click)="setCurrentChat(item)"
        >
          <div class="flex items-center">
            <img
              [src]="item.avatar ?? tools.noImageAvatar"
              alt="avatar"
              class="h-10 w-10 rounded-full mr-3"
            />
            <div [ngClass]="{ 'text-cb-red': checkMsgNotRead(item) }">
              <span class="font-semibold">{{ item.name }}</span>
              <p class="text-sm">
                {{ getLastMassage(item) }}
              </p>
            </div>
          </div>
          <i
            class="fa-solid fa-circle flex text-cb-success"
            *ngIf="item?.status == 'online'"
          ></i>
          <!-- <span></span> -->
        </div>
      </div>
    </card>
  </div>
  <div class="col-span-7">
    <card>
      <div *ngIf="!currentChat?.token" class="p-4 text-center">
        Selecione uma conversa.
      </div>
      <ng-container *ngIf="currentChat?.token">
        <div class="flex items-center border-b border-cb-secondary mb-4 p-4">
          <img
            [src]="currentChat.avatar ?? tools.noImageAvatar"
            alt="avatar"
            class="h-10 w-10 rounded-full mr-3"
          />
          <div>
            <span class="font-semibold">{{ currentChat.name }}</span>
          </div>
        </div>
        <div class="p-4 max-h-[360px] overflow-y-auto" id="content-chat">
          <div
            class="mb-4"
            [ngClass]="{
              'chat-msg-lte': item.sender != userConnected.token,
              'chat-msg-rte': item.sender == userConnected.token
            }"
            *ngFor="let item of currentChat.messages"
          >
            <div class="content">
              <div class="message">
                {{ item.message }}
              </div>
              <p class="date">
                {{ item.createdAt | date : "medium" }}
              </p>
            </div>
          </div>

          <!-- messages -->
        </div>
        <form class="w-full relative" #formComment="ngForm">
          <textarea
            type="text"
            class="input-cb !pr-20"
            name="message"
            ngModel
            placeholder="Escreva uma mensagem"
            required
            [disabled]="loading"
          ></textarea>
          <button
            class="absolute inset-y-0 right-3 flex items-center pr-3 text-gradient-cb"
            (click)="sendMessage(formComment)"
            [disabled]="loading"
          >
            <i class="fa-solid fa-paper-plane mr-2"></i>
          </button>
        </form>
      </ng-container>
    </card>
  </div>
</div>
