<nav class="flex flex-col md:flex-row item-center gap-3 justify-between w-full">
  <div class="flex items-center gap-4">
    <select
      [(ngModel)]="perPage"
      (ngModelChange)="onPerPage.emit(perPage)"
      class="select-default"
    >
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="200">200</option>
    </select>
    <span class="text-gray-400 text-sm">
      Exibindo do {{ fromRows }} á {{ toRows }} de {{ total }}
    </span>
  </div>

  <ul class="flex items-center">
    <li class="flex flex-col items-center justify-center">
      <button
        aria-label="Go To Previous Page"
        [attr.aria-disabled]="current === 1"
        [disabled]="current === 1"
        (click)="onPrevious()"
        class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-cb-primary bg-cb-secondary border border-cb-secondary rounded-l-lg hover:bg-cb-info-dark hover:text-cb-primary disabled:bg-cb-secondary"
      >
        <i class="fa-solid fa-angle-left flex"></i>
      </button>
    </li>
    <li
      class="flex flex-col items-center justify-center"
      *ngFor="let page of getPages(); index as i"
    >
      <!-- <button
        *ngIf="page !== -1; else more"
        class="btn btn-sm p-2"
        [ngClass]="{
          'bg-cb-info text-gray-50': page === current
        }"
        [attr.aria-current]="page === current ? 'page' : null"
        [attr.aria-label]="
          page === current ? 'Current Page, Page ' + page : 'Go to Page ' + page
        "
        [class.current]="page === current"
        tabindex="0"
        (click)="onGoTo(page)"
        (keyup.enter)="onGoTo(page)"
      >
        {{ page }}
      </button>
      <ng-template #more>
        <button class="more">...</button>
      </ng-template> -->

      <button
        class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-cb-primary border-cb-secondary hover:bg-cb-info-dark hover:text-cb-primary disabled:bg-cb-secondary"
        [ngClass]="{
          'bg-cb-info text-gray-50': page.label == current,
          'bg-cb-secondary text-gray-50': page.label != current,
        }"
        tabindex="0"
        (click)="onGoTo(page?.label)"
        [disabled]="!page?.url"
      >
        {{ page?.label }}
      </button>
    </li>
    <li class="flex flex-col items-center justify-center">
      <button
        class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-cb-primary bg-cb-secondary border border-cb-secondary rounded-r-lg hover:bg-cb-info-dark hover:text-cb-primary disabled:bg-cb-secondary"
        aria-label="Go To Next Page"
        [attr.aria-disabled]="current === total"
        [disabled]="toRows === total"
        (click)="onNext()"
      >
        <i class="fa-solid fa-angle-right flex"></i>
      </button>
    </li>
  </ul>
</nav>
