<modal
  [title]="mode == 'approve' ? 'Autorizar Resgate' : 'Recusar Resgate'"
  [dialogRef]="dialogRef"
>
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="p-4">
      <div class="mb-4 text-sm">
        Você está
        <span *ngIf="mode == 'approve'" class="text-cb-success font-bold"
          >ACEITANDO</span
        >
        <span *ngIf="mode != 'approve'" class="text-cb-red font-bold"
          >RECUSANDO</span
        >
        o resgate de floral em "{{ getTypeRescue() }}" do usuário
        <a href="#" target="_blank" class="text-cb-info">{{
          dados?.user?.nickname
        }}</a
        >, com a mensagem:
      </div>
      <div class="grid gap-2 mb-4" *ngIf="mode == 'approve'">
        <div
          class="border border-cb-secondary bg-cb-primary flex items-center justify-center p-4"
        >
          {{ dados.observation }}
        </div>
      </div>
      <div class="mb-2" *ngIf="mode != 'approve'">
        <textarea
          class="input-cb"
          rows="5"
          name="observation"
          [(ngModel)]="formData.observation"
          placeholder="Informe o Motivo"
          required
        ></textarea>
      </div>
      <div class="mb-4 text-sm">
        Esta transação é irreversível, deseja continuar ?
      </div>
    </div>

    <div class="card-footer flex items-center justify-between gap-3">
      <button-cb
        class="w-full"
        classes="btn-sm text-white bg-gradient-cb rounded-md font-semibold w-full"
        [loading]="loading"
        [label]="mode == 'approve' ? 'Autorizar' : 'Recusar'"
        type="submit"
      />

      <button
        class="btn btn-sm text-white rounded-md w-full"
        [disabled]="loading"
        (click)="dialogRef.close()"
      >
        Voltar
      </button>
    </div>
  </form>
</modal>
