<div class="grid md:grid-cols-8 gap-3">
  <div class="col-span-6">
    <div class="mb-4">
      <card>
        <div class="card-header">
          <h2 class="text-lg font-semibold">
            {{ dados.id ? "Editar" : "Adicionar" }} Classificação NFT
          </h2>
        </div>

        <form #form="ngForm" class="p-4">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Classificação"
            model="name"
            name="name"
            [(ngModel)]="dados.name"
            type="text"
            required
            [form]="form"
            size="md"
          ></input-floating>
        </form>
      </card>
    </div>

    <div class="mb-4" *ngIf="dados.id">
      <card>
        <form
          #formSub="ngForm"
          (ngSubmit)="saveSubClassification(formSub)"
          class="p-4"
        >
          <div class="relative w-full">
            <input
              type="text"
              name="name"
              ngModel
              class="block p-2.5 w-full z-20 text-sm rounded-lg bg-cb-primary border-l-cb-secondary border border-cb-secondary focus:border-cb-info"
              placeholder="Adicionar Sub-classificação..."
              required
            />
            <button
              type="submit"
              class="absolute top-0 right-0 p-2.5 w-[42px] text-sm flex items-center justify-center font-medium h-full text-cb-primary bg-cb-info rounded-lg border border-cb-secondary focus:outline-none"
            >
              <i class="fa-solid fa-plus flex items-center"></i>
            </button>
          </div>
        </form>

        <table class="w-full text-sm text-left table-cb">
          <tbody>
            <tr
              *ngFor="let item of dados.subclassifications; let i = index"
              [ngClass]="{
                'bg-transparent': i % 2 !== 0,
                'bg-cb-secondary': i % 2 === 0
              }"
            >
              <td>
                <div class="flex items-center">
                  <span>{{ item.name }}</span>
                </div>
              </td>
              <td class="flex justify-end items-center gap-4">
                <dropdown-cb
                  icon="fa-solid fa-ellipsis-vertical"
                  classes="justify-end text-md"
                  [btnDelete]="true"
                  (onDelete)="openDeleteSubClassification(item)"
                >
                </dropdown-cb>
              </td>
            </tr>
          </tbody>
        </table>
      </card>
    </div>
  </div>
  <div class="col-span-2">
    <card>
      <div class="flex flex-col gap-3 p-4">
        <button-cb
          (onClick)="onSubmit(form)"
          classes="btn-sm btn-md w-full rounded-md bg-gradient-cb font-semibold"
          [label]="dados.id ? 'Editar Classificação' : 'Criar Classificação'"
          [loading]="loading"
        ></button-cb>

        <button-cb
          classes="btn-sm btn-md w-full text-white rounded-md"
          routerLink="/admin/nfts/classifications"
          [queryParams]="{ tab: 'active' }"
          label="Voltar"
          [loading]="loading"
        ></button-cb>
      </div>
    </card>
  </div>
</div>
