<div
  class="relative"
  [ngClass]="{ 'is-invalid': !tools.validateInputForm(form, model) }"
>
  <ng-select
    [(ngModel)]="value"
    [id]="model"
    [required]="isRequired"
    [name]="model"
    [notFoundText]="notFoundText"
    [placeholder]="placeholder"
    (ngModelChange)="changeItem($event)"
    class="{{ size }}"
    [loading]="loading"
    loadingText="carregando..."
    [multiple]="multiple"
    [bindLabel]="bindText"
  >
    <!-- [bindValue]="bindValue" -->
    <ng-option *ngFor="let item of options" [value]="item[bindValue]">
      {{ item[bindText] }}
    </ng-option>
  </ng-select>

  <label
    *ngIf="label"
    [attr.for]="model"
    class="absolute text-sm text-cb-info duration-300 transform -translate-y-4 scale-75 top-2 z-[1002] origin-[0] bg-cb-primary dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-cb-base peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
    >{{ label }}</label
  >
</div>
<ng-container *ngIf="!tools.validateInputForm(form, model)">
  <p
    class="text-sm text-cb-red"
    *ngFor="let error of tools.getErrors(form, model)"
  >
    {{ error }}
  </p>
</ng-container>
