<button
  type="button"
  class="btn-menu"
  [routerLink]="item.route"
  routerLinkActive="activeMenu"
  [routerLinkActiveOptions]="{ exact: false }"
  *ngIf="!item.items"
>
  {{ item.title }}
</button>

<button [cdkMenuTriggerFor]="menu" class="btn-menu" *ngIf="item.items">
  {{ item.title }}
</button>

<ng-template #menu>
  <div
    class="z-10 bg-cb-primary border-[#21ACBE] min-w-[250px] border rounded shadow w-48"
    cdkMenu
  >
    <div
      class="flex items-center justify-between p-3 border-b border-b-cb-secondary"
      *ngIf="item.subtitle"
    >
      <span class="text-sm text-[#21ACBE] font-bold uppercase">
        {{ item.subtitle }}
      </span>
    </div>
    <ul class="text-sm border-0 overflow-y-auto max-h-screen">
      <li
        class="border-b border-b-cb-secondary"
        *ngFor="let subItem of item.items; let i = index"
      >
        <button
          type="button"
          class="btn-sub-menu"
          [routerLink]="[subItem.route]"
          [queryParams]="subItem?.queryParams"
          routerLinkActive="activeItem"
          cdkMenuItem
          *ngIf="!subItem.items"
        >
          <span>
            <i [class]="subItem.icon + ' mr-3'" *ngIf="subItem.icon"></i>
            <span class="capitalize">{{ subItem.title }}</span>
          </span>
        </button>
        <ng-container *ngIf="subItem.items">
          <menu-item [item]="subItem" [index]="i"></menu-item>
        </ng-container>
      </li>
    </ul>
  </div>
</ng-template>
