<modal [title]="data?.title" [dialogRef]="dialogRef">
  <div class="p-4 flex justify-center">
    <label
      class="w-24 h-24 border-0 bg-gradient-cb rounded-full border-dashed flex justify-center items-center"
    >
      <i
        class="fa-solid fa-check text-{{ data?.size ?? '3' }}xl text-cb-primary"
      ></i>
    </label>
  </div>
  <div class="p-4 text-sm text-center" [innerHTML]="data?.message"></div>
  <div class="p-4">
    <button
      class="btn btn-lg rounded-md bg-gradient-cb font-semibold w-full"
      (click)="dialogRef.close()"
    >
      {{ data?.confirmText ?? "Obrigado" }}
    </button>
  </div>
</modal>
