<ol class="relative border-s border-gray-200">
  <li class="mb-10 ms-6">
    <div class="absolute flex items-center justify-center -start-3">
      <span class="w-6 h-6 bg-cb-info rounded-full"></span>
    </div>
    <h3 class="text-sm font-semibold">
      {{ today | date : "EE d, MMM y" }}
    </h3>
    <div
      class="bg-gradient-item-positive flex items-center justify-between p-2 my-1 rounded-md"
    >
      <span> Transferência de Caixa para Usuário 1 </span>
      <div class="flex items-center gap-2">
        <i class="fa-solid fa-plus text-cb-success"></i>
        <span>F$ 1.500,0000</span>
      </div>
    </div>

    <div
      class="bg-gradient-item-negative flex items-center justify-between p-2 my-1 rounded-md"
    >
      <span> Transferência de Caixa para Usuário 1 </span>
      <div class="flex items-center gap-2">
        <i class="fa-solid fa-minus text-cb-red"></i>
        <span>F$ 500,0000</span>
      </div>
    </div>
  </li>

  <li class="mb-10 ms-6">
    <div class="absolute flex items-center justify-center -start-3">
      <span class="w-6 h-6 bg-cb-info rounded-full"></span>
    </div>
    <h3 class="text-sm font-semibold">
      {{ today | date : "EE d, MMM y" }}
    </h3>
    <div
      class="bg-gradient-amount-floral flex items-center justify-between p-2 my-1 rounded-md"
    >
      <span> Transferência de Caixa para Usuário 1 </span>
      <div class="flex items-center gap-2">
        <i class="fa-solid fa-plus text-cb-success"></i>
        <span>F$ 500,0000</span>
      </div>
    </div>

    <div
      class="bg-gradient-amount-floral flex items-center justify-between p-2 my-1 rounded-md"
    >
      <span> Transferência de Caixa para Usuário 1 </span>
      <div class="flex items-center gap-2">
        <i class="fa-solid fa-minus text-cb-red"></i>
        <span>F$ 1.500,0000</span>
      </div>
    </div>
  </li>
</ol>
