<div
  class="w-full h-full bg-cb-primary text-cb-base flex flex-col items-center justify-center gap-3"
>
  <div class="my-6 w-1/3 flex flex-col items-center">
    <img src="assets/logo-h.png" class="mb-4" />
    <strong class="text-xl">Cadastro de nova senha</strong>
  </div>

  <form
    #form="ngForm"
    (ngSubmit)="onSubmit(form)"
    class="flex flex-col gap-4 w-1/3"
  >
    <input-floating
      class="p-0 bg-transparent border-none"
      label="Nova Senha"
      type="password"
      name="password"
      model="password"
      [(ngModel)]="dados.password"
      [form]="form"
      required
    ></input-floating>

    <input-floating
      class="p-0 bg-transparent border-none"
      label="Confirmação de Senha"
      type="password"
      name="passwordConfirm"
      model="passwordConfirm"
      [(ngModel)]="dados.passwordConfirm"
      [form]="form"
      required
    ></input-floating>

    <button
      type="submit"
      class="text-white bg-gradient-cb bg-gradient-cb-hover focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md w-full h-14 md:w-full px-5 py-2.5 text-center"
    >
      <spinner *ngIf="loading"></spinner>
      <span *ngIf="!loading">Alterar Senha</span>
    </button>
  </form>
</div>
