<card [loading]="loading">
  <div class="card-header">
    <div class="relative">
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
      >
        <i class="fa-solid fa-magnifying-glass text-cb-secondary"></i>
      </div>
      <input
        type="text"
        class="input-cb"
        [(ngModel)]="term"
        (ngModelChange)="filter($event)"
        [placeholder]="inputPlaceholder"
      />
    </div>
  </div>

  <div class="px-4 max-h-[200px] overflow-y-auto">
    <checkbox
      *ngFor="let item of items"
      [label]="item[bindText]"
      [controlName]="getName(name, item[bindText])"
      (checkedItem)="checked($event, item)"
      [checked]="this.isChecked(item) >= 0"
    ></checkbox>
  </div>

  <div class="card-footer">
    <button-cb
      *ngIf="showBtn"
      type="button"
      class="w-full"
      classes="btn-sm btn-md w-full rounded-md bg-gradient-cb font-semibold"
      [label]="labelBtn"
      [loading]="loading"
      (click)="onClick.emit()"
    ></button-cb>
  </div>
</card>
