/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


// html, body {
//   background-color: #131E39;
// }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #131E39 inset;
  box-shadow: 0 0 0px 1000px #131E39 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

.text-gradient-cb {
  @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#20D4E9] to-[#8620BF];
}

.bg-gradient-cb {
  @apply bg-gradient-to-r from-[#20D4E9] to-[#8620BF];
}

.step-completed {
  background-color: #20d4e9; /* Cor para os steps concluídos */
}

.step-current {
  background-color: #20d4e9; /* Cor da linha para o step atual */
}

.step-line {
  background-color: #344A6A; /* Cor da linha padrão */
}

.bg-gradient-cb-hover:hover {
  background-image: linear-gradient(to right, #20d4e9, #8620bf);
}
.bg-gradient-cb-border {
  border-image: linear-gradient(to right, #20d4e9, #8620bf);
  border-image-slice: 1;
  border-color: transparent;
}
.bg-gradient-cb-border-hover:hover {
  border-image: linear-gradient(to right, #20d4e9, #8620bf);
  border-image-slice: 1;
  border-color: transparent;
  color: #20d4e9;
}

.arrow-up:before,
.arrow-up:after {
  content: "";
  position: absolute;
  border: solid transparent;
  width: 0px;
  height: 0px;
  // border-top: 1px solid #20d4e9;
  // border-right: 0px solid #20d4e9;
  // border-bottom: 0px solid #20d4e9;
  // border-left: 1px solid #20d4e9;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  // transform: rotate(45deg);
  // margin-bottom: -4px;
  // background: #131e39;
}

.arrow-up:after {
  border-color: rgba(40, 213, 127, 0);
  border-bottom-color: #131e39;
  border-width: 8px;
  // margin-bottom: -10px;
}

.arrow-up:before {
  border-color: rgba(40, 213, 127, 0);
  border-bottom-color: #20d4e9;
  border-width: 10px;
  // margin-bottom: -10px;
}
