// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $front-end-primary: mat.define-palette(mat.$indigo-palette);
// $front-end-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $front-end-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $front-end-theme: mat.define-light-theme((
//   color: (
//     primary: $front-end-primary,
//     accent: $front-end-accent,
//     warn: $front-end-warn,
//   )
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($front-end-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "ngx-toastr/toastr";

@import "@ng-select/ng-select/themes/default.theme.css";

// html, body {
//   background-color: #131E39;
// }

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #131e39 inset;
  box-shadow: 0 0 0px 1000px #131e39 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

.text-gradient-cb {
  @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#20D4E9] to-[#8620BF];
}

.bg-gradient-cb {
  @apply bg-gradient-to-r from-[#20D4E9] to-[#8620BF];
}

.step-completed {
  background-color: #20d4e9; /* Cor para os steps concluídos */
}

.step-current {
  background-color: #2bb8c9; /* Cor da linha para o step atual */
}

.step-line {
  background-color: #344a6a; /* Cor da linha padrão */
}

.bg-gradient-cb-hover:hover {
  background-image: linear-gradient(to right, #20d4e9, #8620bf);
}
.bg-gradient-cb-border {
  border-image: linear-gradient(to right, #20d4e9, #8620bf);
  border-image-slice: 1;
  border-color: transparent;
}
.bg-gradient-cb-border-hover:hover {
  border-image: linear-gradient(to right, #20d4e9, #8620bf);
  border-image-slice: 1;
  border-color: transparent;
  color: #20d4e9;
}

.arrow-up:before,
.arrow-up:after {
  content: "";
  position: absolute;
  border: solid transparent;
  width: 0px;
  height: 0px;
  // border-top: 1px solid #20d4e9;
  // border-right: 0px solid #20d4e9;
  // border-bottom: 0px solid #20d4e9;
  // border-left: 1px solid #20d4e9;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  // transform: rotate(45deg);
  // margin-bottom: -4px;
  // background: #131e39;
}

.arrow-up:after {
  border-color: rgba(40, 213, 127, 0);
  border-bottom-color: #131e39;
  border-width: 8px;
  // margin-bottom: -10px;
}

.arrow-up:before {
  border-color: rgba(40, 213, 127, 0);
  border-bottom-color: #20d4e9;
  border-width: 10px;
  // margin-bottom: -10px;
}

.activeMenu {
  @apply text-cb-info font-semibold;
}

.activeItem {
  @apply bg-gradient-cb;
}

.btn-default {
  @apply font-medium rounded-lg w-full h-14 md:w-full px-5 py-2.5 text-center;
}

.btn-default:disabled,
.btn:disabled {
  opacity: 0.7;
}

.card {
  @apply border rounded-lg border-cb-secondary;
}
.card-header {
  @apply text-cb-base border-b border-cb-secondary p-4;
}

.card-footer {
  @apply text-cb-base border-t border-cb-secondary p-4;
}

.divider {
  @apply border-b border-cb-secondary py-2;
}

.btn {
  @apply focus:ring-2 focus:outline-none focus:ring-cb-secondary font-medium text-center border border-cb-secondary;
}

.btn-square {
  @apply p-2;
}

.btn-sm {
  @apply px-4 py-1 text-sm;
}

.btn-md {
  @apply px-6 py-2;
}

.btn-lg {
  @apply px-8 py-3 text-lg;
}

.btn-xl {
  @apply px-6 py-3 text-xl;
}

.activeMenu {
  @apply text-cb-info font-semibold bg-gradient-cb-border;
}

.ng-select .ng-select-container,
.ng-select.ng-select-opened > .ng-select-container {
  @apply bg-cb-primary border-cb-secondary rounded-lg text-cb-base;
}

.ng-select.ng-select-single .ng-select-container {
  @apply h-12 text-cb-base;
}

.ng-dropdown-panel {
  @apply bg-cb-primary border-cb-secondary rounded-lg text-cb-base;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  @apply bg-cb-secondary text-cb-base;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  @apply bg-cb-info;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked {
  @apply bg-cb-info;
}

.ng-select .ng-select-container .ng-value-container .ng-input > input {
  @apply text-sm;
}

.ng-select .ng-select-container .ng-value-container .ng-value {
  @apply text-sm;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  @apply text-sm;
}

.is-invalid {
  label {
    @apply text-cb-red;
  }

  input,
  .ng-select .ng-select-container {
    @apply border-cb-red;
  }
}

.input-cb {
  @apply block px-2 pb-2 pt-2 w-full text-sm text-cb-base bg-cb-primary rounded-lg border border-cb-secondary appearance-none focus:outline-none focus:ring-0 focus:border-cb-info autofill:shadow-cb-primary;
}

.table-cb {
  tr {
    @apply border-b border-cb-secondary border-opacity-70;
  }
  th,
  td {
    @apply px-6 py-3 text-cb-base align-middle;
  }
}

.select-default {
  @apply block p-2.5 text-sm rounded-lg bg-cb-primary border-l-cb-secondary border border-cb-secondary focus:border-cb-info;
}

.btn-menu {
  @apply px-2 text-cb-base rounded-b-lg h-full hover:text-cb-info hover:font-semibold focus:text-cb-info focus:font-semibold border-b-[5px] border-transparent bg-gradient-cb-border-hover;
}

.btn-sub-menu {
  @apply flex items-center justify-between px-4 py-2 text-cb-base bg-gradient-cb-hover w-full;
}

.input-radio {
  @apply w-4 h-4 text-cb-secondary bg-gray-100 border-gray-300 focus:ring-cb-secondary;
}
