<div class="grid grid-cols-4 gap-3 mb-4">
  <card>
    <div class="px2 py-4 text-center">
      <p class="text-sm">Quantidade NFT</p>
      <h2 class="text-cb-orange font-semibold text-3xl">125</h2>
    </div>
  </card>

  <card>
    <div class="px2 py-4 text-center">
      <p class="text-sm">Saldo Floral (F$)</p>
      <h2 class="text-cb-success font-semibold text-3xl">3.532,0000</h2>
    </div>
  </card>

  <card>
    <div class="px2 py-4 text-center">
      <p class="text-sm">Entrada Floral (F$)</p>
      <h2 class="text-cb-success font-semibold text-3xl">157,0100</h2>
    </div>
  </card>

  <card>
    <div class="px2 py-4 text-center">
      <p class="text-sm">Saída Floral (F$)</p>
      <h2 class="text-cb-red font-semibold text-3xl">543,2000</h2>
    </div>
  </card>
</div>

<card>
  <div id="chart" class="p-4">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [fill]="chartOptions.fill"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>
</card>
