<div
  class="flex flex-row items-center gap-3"
  [ngClass]="{ 'is-invalid': !tools.validateInputForm(form, model) }"
>
  <label [attr.for]="model" class="text-sm text-gray-300 px-2 w-1/2">{{
    label
  }}</label>
  <input
    *ngIf="type !== 'select' && type !== 'currency'"
    [(ngModel)]="value"
    [type]="type"
    [id]="model"
    class="block px-2 pb-2 pt-2 w-full text-sm text-cb-base bg-cb-primary rounded-lg border-1 border-cb-secondary appearance-none focus:outline-none focus:ring-0 focus:border-cb-info peer autofill:shadow-cb-primary"
    placeholder=" "
    [readonly]="!!isReadOnly"
    [required]="isRequired"
    [mask]="mask"
  />
  <input
    *ngIf="type === 'currency'"
    [(ngModel)]="value"
    type="tel"
    [id]="model"
    class="block px-2 pb-2 pt-2 w-full text-sm text-cb-base bg-cb-primary rounded-lg border-1 border-cb-secondary appearance-none focus:outline-none focus:ring-0 focus:border-cb-info peer autofill:shadow-cb-primary"
    placeholder=" "
    [readonly]="!!isReadOnly"
    [required]="isRequired"
    currencyMask
    [options]="optionsCurrency"
  />
  <select
    *ngIf="type === 'select'"
    [(ngModel)]="value"
    [id]="model"
    class="block px-2 pb-2 pt-2 w-full text-sm text-cb-base bg-cb-primary rounded-lg border-1 border-cb-secondary appearance-none focus:outline-none focus:ring-0 focus:border-cb-info peer autofill:shadow-cb-primary"
    placeholder=" "
    [disabled]="!!isReadOnly"
    [required]="isRequired"
  >
    <option [value]="item[bindValue]" *ngFor="let item of options">
      {{ item[bindText] }}
    </option>
  </select>

  <ng-container *ngIf="form?.submitted || getControl()?.touched">
    <p class="text-sm text-cb-red" *ngFor="let error of getErrors()">
      {{ error }}
    </p>
  </ng-container>
</div>
