<div class="grid md:grid-cols-8 gap-3">
  <div class="col-span-6">
    <div class="mb-4">
      <card>
        <div class="card-header">
          <h2 class="text-lg font-semibold">Adicionar Nova NFT</h2>
        </div>

        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="p-4">
            <div class="mb-4">
              <input-floating
                class="p-0 bg-transparent border-none"
                label="Nome da NFT"
                model="name"
                name="name"
                [(ngModel)]="dados.name"
                type="text"
                required
                [form]="form"
                size="md"
              ></input-floating>
            </div>

            <div class="grid grid-cols-2 gap-3">
              <!-- image e description -->
              <div class="flex flex-col gap-4">
                <image-select
                  name="fileCapa"
                  title="Selecionar NFT"
                  subtitle="1080 x 1080"
                  (changeImage)="chooseImage($event)"
                ></image-select>

                <textarea
                  class="input-cb"
                  rows="5"
                  name="description"
                  [(ngModel)]="dados.description"
                  placeholder="Descrição da NFT"
                ></textarea>
              </div>

              <div class="flex flex-col gap-4">
                <input-floating
                  class="p-0 bg-transparent border-none"
                  label="Valor da NFT em Real (R$)"
                  model="price"
                  name="price"
                  [(ngModel)]="dados.price"
                  type="money"
                  required
                  [form]="form"
                  size="md"
                ></input-floating>

                <input-floating
                  class="p-0 bg-transparent border-none"
                  label="Valor da NFT em Foral (F$)"
                  model="price_floral"
                  name="price_floral"
                  [(ngModel)]="dados.price_floral"
                  type="money"
                  prefix="F$ "
                  [precision]="4"
                  required
                  [form]="form"
                  size="md"
                ></input-floating>

                <select-default
                  inputPlaceholder="Selecionar público"
                  label="Público"
                  bindText="name"
                  bindValue="id"
                  endpoint="v1/persons-type"
                  name="public"
                  [(ngModel)]="dados.public"
                  [required]="true"
                  [form]="form"
                  [multiple]="true"
                >
                </select-default>

                <select-default
                  inputPlaceholder="Selecionar segmento"
                  label="Segmento"
                  bindText="name"
                  bindValue="id"
                  endpoint="v1/segments"
                  name="segments"
                  [(ngModel)]="dados.segments"
                  [required]="true"
                  [form]="form"
                  [multiple]="true"
                >
                </select-default>
              </div>
            </div>
          </div>

          <div class="p-4 border-t border-cb-secondary">
            <h3>Termos e ciência</h3>
            <div class="flex item-center">
              <checkbox
                label="Estou ciente que esta transferência é irreversível"
                controlName="check1"
                name="check1"
              ></checkbox>
            </div>
            <div class="flex item-center gap-2">
              <checkbox controlName="check2" name="check2"></checkbox>
              <label class="text-sm font-medium" for="check2"
                >Eu aceito os
                <a href="javascript:void(0)" class="text-blue-500">
                  Termos e Condições de Uso
                </a>
                da Casabella Fragrâncias</label
              >
            </div>
          </div>

          <div class="card-footer flex items-center gap-3">
            <button-cb
              type="submit"
              classes="btn-sm btn-md w-full rounded-md bg-gradient-cb font-semibold"
              label="Adicionar NFT"
              [loading]="loading"
            ></button-cb>

            <button-cb
              classes="btn-sm btn-md w-full text-white rounded-md"
              routerLink="/admin/nfts"
              [queryParams]="{ tab: 'all' }"
              label="Cancelar"
              [loading]="loading"
            ></button-cb>
          </div>
        </form>
      </card>
    </div>
  </div>

  <div class="col-span-2">
    <div class="mb-4">
      <card-choose
        #inputChooseClassifications
        inputPlaceholder="Classificação"
        endpoint="v1/admin/nft-classification"
        bindText="name"
        bindValue="id"
        name="classification"
        (choose)="chooseClassifications($event)"
        (chooseOptions)="dados.subclassifications = $event"
        [showBtn]="true"
        labelBtn="Nova Classificação"
        (onClick)="openModalClassification(inputChooseClassifications)"
        bindItemsProp="subclassifications"
        [chooseOptionsModalConfig]="chooseOptionsModalConfigClassifications"
        filterBindKey="classificationId"
        filterBindValue="classificationId"
        [selected]="dados.classifications"
        [selectedOptions]="dados.subclassifications"
      ></card-choose>
    </div>

    <div class="mb-4">
      <card-choose
        #inputChooseType
        inputPlaceholder="Tipo"
        endpoint="v1/admin/nft-type"
        bindText="name"
        bindValue="id"
        name="type"
        (choose)="dados.types = $event"
        [showBtn]="true"
        labelBtn="Novo Tipo"
        (onClick)="openModalType(inputChooseType)"
      ></card-choose>
    </div>
  </div>
</div>
