<form
  #form="ngForm"
  (ngSubmit)="onSubmit(form)"
  class="grid md:grid-cols-8 gap-3"
>
  <card class="col-span-6" [loading]="loading">
    <div class="card-header">
      <h2 class="text-lg font-semibold">
        {{ dados.id ? "Editar" : "Adicionar" }} Galeria
      </h2>
    </div>

    <div class="px-4">
      <div class="mb-4">
        <input-floating
          class="p-0 bg-transparent border-none"
          type="text"
          name="name"
          [(ngModel)]="dados.name"
          placeholder="Nome da Galeria"
          label="Nome da Galeria"
          size="md"
          [required]="true"
        />
      </div>

      <div class="mb-4">
        <textarea
          rows="3"
          class="input-cb"
          name="description"
          [(ngModel)]="dados.description"
          placeholder="Descrição da Galeria"
        ></textarea>
      </div>

      <div class="grid md:grid-cols-4 gap-3"></div>
    </div>

    <div class="grid md:grid-cols-4 gap-2 p-4 border-top border-cb-secondary">
      <image-preview
        *ngFor="let item of dados.attachments"
        [image]="item.path"
        (onClick)="removeImage(item)"
      />
    </div>

    <div class="card-footer flex items-center gap-3">
      <button-cb
        classes="btn-sm text-white bg-gradient-cb rounded-md font-semibold"
        type="submit"
        [loading]="loading"
        [label]="dados.id ? 'Salvar' : 'Adicionar'"
      >
      </button-cb>

      <button
        class="btn btn-sm text-white rounded-md"
        [disabled]="loading"
        type="button"
        (click)="deleteItem()"
        *ngIf="dados.id"
      >
        Excluir
      </button>

      <button
        class="btn btn-sm text-white rounded-md"
        [disabled]="loading"
        routerLink="/admin/incentives"
        [queryParams]="{ tab: 'gallery' }"
        type="button"
      >
        Cancelar
      </button>
    </div>
  </card>

  <div class="col-span-2" *ngIf="!loading">
    <div class="mb-4" *ngIf="dados.id">
      <card>
        <div class="card-header">
          <h2 class="font-semibold text-cb-secondary">Operações</h2>
        </div>

        <div class="px-4 pb-4">
          <ul>
            <li
              class="p-2 hover:bg-cb-secondary cursor-pointer rounded-md border border-cb-secondary text-sm"
              (click)="openModalMedia()"
            >
              Adicionar imagem/vídeo
            </li>
          </ul>
        </div>
      </card>
    </div>

    <div class="mb-4">
      <card>
        <div class="card-header">
          <h2 class="font-semibold text-cb-secondary">Adicionar capa</h2>
        </div>

        <div class="p-4">
          <image-select
            name="fileCapa"
            title="Selecione a capa"
            subtitle="276 x 180"
            (changeImage)="dados.image = $event[0]"
            [image]="dados.image_url"
          ></image-select>
        </div>
      </card>
    </div>

    <div class="mb-4">
      <card-choose
        inputPlaceholder="Público"
        endpoint="v1/persons-type"
        bindText="name"
        bindValue="id"
        name="publico"
        (choose)="dados.public = $event"
        [selected]="dados.public"
      ></card-choose>
    </div>

    <div class="mb-4">
      <card-choose
        inputPlaceholder="Segmentos"
        endpoint="v1/segments"
        bindText="name"
        bindValue="id"
        name="segmento"
        (choose)="dados.segments = $event"
        [selected]="dados.segments"
      ></card-choose>
    </div>
  </div>
</form>
