<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <card [loading]="loading">
    <div class="card-header">
      <h2 class="text-lg font-semibold">{{ title }}</h2>
    </div>

    <div class="px-4">
      <div class="grid grid-cols-3 gap-3 mb-4">
        <div class="col-span-1">
          <div class="flex items-center justify-center py-2">
            <avatar
              size="40"
              (changeImage)="changeAvatar($event)"
              [image]="dados?.user?.avatar"
            ></avatar>
          </div>
        </div>

        <div class="col-span-2">
          <div class="mb-4">
            <input-floating
              class="p-0 bg-transparent border-none"
              label="Segmento:"
              model="segment_id"
              [(ngModel)]="dados.segment_id"
              name="segment_id"
              type="select"
              [options]="segments"
              [form]="form"
              size="md"
            ></input-floating>
          </div>

          <div class="mb-4">
            <input-floating
              class="p-0 bg-transparent border-none"
              label="Grupo de acessos:"
              model="group_id"
              [(ngModel)]="dados.group_id"
              name="group_id"
              type="select"
              [options]="groups"
              [form]="form"
              size="md"
            ></input-floating>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-3 mb-4">
        <div class="col-span-4">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Nome Completo:"
            model="name"
            [(ngModel)]="dados.name"
            name="name"
            type="text"
            required
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="col-span-3">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Usuário:"
            model="nickname"
            [(ngModel)]="dados.user.nickname"
            name="nickname"
            type="text"
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="col-span-3">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Data de Nascimento:"
            model="birthdate"
            [(ngModel)]="dados.birthdate"
            name="birthdate"
            type="date"
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="col-span-2">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="CPF:"
            model="cpf"
            [(ngModel)]="dados.cpf"
            name="cpf"
            type="text"
            required
            [form]="form"
            size="md"
            mask="CPF_CNPJ"
          ></input-floating>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-3 mb-4">
        <div class="col-span-4">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="E-mail:"
            model="email"
            [(ngModel)]="dados.user.email"
            email
            name="email"
            type="text"
            required
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="col-span-3">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Telefone 1:"
            model="phone"
            [(ngModel)]="dados.phone"
            name="phone"
            type="phone"
            required
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="col-span-3">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Telefone 2:"
            model="phone_2"
            [(ngModel)]="dados.phone_2"
            name="phone_2"
            type="phone"
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="col-span-2">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Gênero:"
            model="gender"
            [(ngModel)]="dados.gender"
            name="gender"
            type="select"
            valueBind="key"
            textBind="description"
            [options]="gender"
            [form]="form"
            size="md"
          ></input-floating>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-3 mb-4">
        <div class="col-span-4">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Público:"
            model="person_type"
            [(ngModel)]="dados.type_person_id"
            name="person_type"
            type="select"
            valueBind="key"
            textBind="description"
            [options]="personsType"
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="col-span-4">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Cargo:"
            model="role_id"
            [(ngModel)]="dados.role_id"
            name="role_id"
            type="select"
            valueBind="id"
            textBind="name"
            [options]="roles"
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="col-span-4">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Setor:"
            model="department_id"
            [(ngModel)]="dados.department_id"
            name="department_id"
            type="select"
            valueBind="id"
            textBind="name"
            [options]="departments"
            [form]="form"
            size="md"
          ></input-floating>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-3 mb-4">
        <div class="col-span-4">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Código Revendedor:"
            model="code"
            [(ngModel)]="dados.code"
            name="code"
            type="text"
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="col-span-2">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="UF:"
            model="state"
            [(ngModel)]="dados.address.state"
            name="state"
            type="select"
            valueBind="label"
            textBind="name"
            [options]="states"
            [form]="form"
            size="md"
            (ngModelChange)="getCities($event)"
          ></input-floating>
        </div>

        <div class="col-span-3">
          <combobox
            class="p-0 bg-transparent border-none"
            label="Cidade:"
            model="city"
            [(ngModel)]="dados.address.city"
            name="city"
            type="select"
            [options]="cities"
            valueBind="name"
            textBind="name"
            placeholder="Selecione uma cidade"
            required
            [form]="form"
            size="md"
          ></combobox>
        </div>

        <div class="col-span-2">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Status:"
            model="status"
            [(ngModel)]="dados.status"
            name="status"
            type="select"
            [options]="status"
            [form]="form"
            size="md"
          ></input-floating>
        </div>
      </div>
    </div>

    <div class="card-footer flex items-center gap-3">
      <button
        class="btn btn-sm text-white bg-gradient-cb bg-gradient-cb-hover rounded-md"
        [disabled]="loading"
        type="submit"
      >
        <spinner *ngIf="loading" />
        <span *ngIf="!loading">Salvar</span>
      </button>
      <button
        class="btn btn-sm text-white rounded-md"
        [disabled]="loading"
        routerLink="/admin/users"
      >
        Cancelar
      </button>
    </div>
  </card>
</form>
