<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <card [loading]="loading">
    <div class="card-header">
      <h2 class="text-lg font-semibold">{{ title }}</h2>
    </div>

    <div class="px-4">
      <div class="grid grid-cols-3 gap-3 mb-4">
        <div class="col-span-1">
          <div class="flex items-center justify-center py-2">
            <avatar
              size="40"
              [image]="dados?.user?.avatar_url"
              [disabled]="true"
            ></avatar>
          </div>
        </div>

        <div class="col-span-2">
          <div class="mb-4">
            <select-default
              label="Segmento"
              model="segment_id"
              [(ngModel)]="dados.segment_id"
              name="segment_id"
              endpoint="v1/segments"
              bindText="name"
              bindValue="id"
              inputPlaceholder="Selecione o segmento"
              [form]="form"
              size="md"
              [required]="true"
            ></select-default>
          </div>

          <div class="mb-4">
            <select-default
              label="Grupo de Acesso"
              model="group"
              [(ngModel)]="dados.user.group"
              [multiple]="true"
              name="group"
              endpoint="v1/groups"
              bindText="name"
              bindValue="id"
              inputPlaceholder="Selecione o grupo"
              [form]="form"
              size="md"
              [required]="true"
            ></select-default>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-3 mb-4">
        <div class="col-span-4">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Nome Completo"
            model="name"
            [(ngModel)]="dados.name"
            name="name"
            type="text"
            required
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="col-span-2">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="CPF"
            model="cpf"
            [(ngModel)]="dados.cpf"
            name="cpf"
            type="text"
            required
            [form]="form"
            size="md"
            mask="CPF_CNPJ"
          ></input-floating>

          <!-- <input-floating
            class="p-0 bg-transparent border-none"
            label="Usuário"
            model="nickname"
            [(ngModel)]="dados.user.nickname"
            name="nickname"
            type="text"
            [form]="form"
            size="md"
          ></input-floating> -->
        </div>

        <div class="col-span-3">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Data de Nascimento"
            model="birthdate"
            [(ngModel)]="dados.birthdate"
            name="birthdate"
            type="date"
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="col-span-3">
          <combobox
            class="p-0 bg-transparent border-none"
            label="Gênero"
            model="gender"
            [(ngModel)]="dados.gender"
            name="gender"
            [options]="gender"
            bindValue="key"
            bindText="description"
            placeholder="Selecione uma opção"
            [form]="form"
            size="md"
          />
          <!-- <input-floating
            class="p-0 bg-transparent border-none"
            label="Gênero"
            model="gender"
            [(ngModel)]="dados.gender"
            name="gender"
            type="select"
            bindValue="key"
            bindText="description"
            [options]="gender"
            [form]="form"
            size="md"
          ></input-floating> -->
        </div>
      </div>

      <div class="grid grid-cols-12 gap-3 mb-4">
        <div class="col-span-6">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="E-mail"
            model="email"
            [(ngModel)]="dados.user.email"
            email
            name="email"
            type="text"
            required
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="col-span-3">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Telefone 1"
            model="phone"
            [(ngModel)]="dados.phone"
            name="phone"
            type="phone"
            required
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <div class="col-span-3">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Telefone 2"
            model="phone_2"
            [(ngModel)]="dados.phone_2"
            name="phone_2"
            type="phone"
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <!-- <div class="col-span-2">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Gênero"
            model="gender"
            [(ngModel)]="dados.gender"
            name="gender"
            type="select"
            bindValue="key"
            bindText="description"
            [options]="gender"
            [form]="form"
            size="md"
          ></input-floating>
        </div> -->
      </div>

      <div class="grid grid-cols-12 gap-3 mb-4">
        <div class="col-span-4">
          <select-default
            label="Público"
            model="type_person_id"
            [(ngModel)]="dados.type_person_id"
            name="type_person_id"
            endpoint="v1/persons-type"
            bindText="name"
            bindValue="id"
            inputPlaceholder="Selecione o público"
            [form]="form"
            size="md"
          ></select-default>
        </div>

        <div class="col-span-4">
          <select-default
            label="Cargo"
            model="role_id"
            [(ngModel)]="dados.role_id"
            name="role_id"
            endpoint="v1/roles"
            bindText="name"
            bindValue="id"
            inputPlaceholder="Selecione o cargo"
            [form]="form"
            size="md"
          ></select-default>
        </div>

        <div class="col-span-4">
          <select-default
            label="Setor"
            model="department_id"
            [(ngModel)]="dados.department_id"
            name="department_id"
            endpoint="v1/departments"
            bindText="name"
            bindValue="id"
            inputPlaceholder="Selecione o setor"
            [form]="form"
            size="md"
          ></select-default>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-3 mb-4">
        <div class="col-span-4">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="Código Revendedor"
            model="code"
            [(ngModel)]="dados.code"
            name="code"
            type="text"
            [form]="form"
            size="md"
          ></input-floating>
        </div>

        <!-- <div class="col-span-2">
          <input-floating
            class="p-0 bg-transparent border-none"
            label="UF"
            model="state"
            [(ngModel)]="dados.address.state"
            name="state"
            type="select"
            bindValue="label"
            bindText="name"
            [options]="states"
            [form]="form"
            size="md"
            (ngModelChange)="getCities($event)"
            [required]="true"
          ></input-floating>
        </div> -->

        <div class="col-span-5">
          <!-- <combobox
            class="p-0 bg-transparent border-none"
            label="Cidade"
            model="city"
            [(ngModel)]="dados.address.city"
            name="city"
            type="select"
            [options]="cities"
            bindValue="name"
            bindText="name"
            placeholder="Selecione uma cidade"
            [required]="true"
            [form]="form"
            size="md"
          ></combobox> -->

          <select-default
            class="p-0 bg-transparent border-none"
            label="Cidade"
            model="city_id"
            [(ngModel)]="dados.address.city_id"
            name="city_id"
            type="select"
            bindValue="id"
            bindText="name"
            placeholder="Selecione uma cidade"
            endpoint="v1/cities?per_page=200"
            [required]="true"
            [form]="form"
            size="md"
            bindTextSecondaryDivider="/"
            bindTextSecondary="state.label"
          />
        </div>

        <div class="col-span-3">
          <combobox
            class="p-0 bg-transparent border-none"
            label="Status"
            model="status"
            [(ngModel)]="dados.status"
            name="status"
            [options]="status"
            bindValue="key"
            bindText="description"
            placeholder="Selecione uma opção"
            [form]="form"
            size="md"
          />
          <!-- <input-floating
            class="p-0 bg-transparent border-none"
            label="Status"
            model="status"
            [(ngModel)]="dados.status"
            name="status"
            type="select"
            bindValue="key"
            bindText="description"
            [options]="status"
            [form]="form"
            size="md"
          ></input-floating> -->
        </div>
      </div>
    </div>

    <div class="card-footer flex items-center gap-3">
      <button
        class="btn btn-sm text-white bg-gradient-cb bg-gradient-cb-hover rounded-md"
        [disabled]="loading"
        type="submit"
      >
        <spinner *ngIf="loading" />
        <span *ngIf="!loading">Salvar</span>
      </button>
      <button
        class="btn btn-sm text-white rounded-md"
        [disabled]="loading"
        routerLink="/admin/users"
        [queryParams]="{ tab: 'active' }"
      >
        Cancelar
      </button>
    </div>
  </card>
</form>
